<fieldset>
  <%= error_messages_for 'basket' %>

  <%= hidden_field_tag "source_form", 'homepage_options' %>

  <h3>Basket Homepage Preferences</h3>

  <div class="form-element">
    <label for="basket_index_page_redirect_to_all">Redirect to results of?</label>
    <%= homepage_form.select :index_page_redirect_to_all, zoom_controllers_as_options([["Don't redirect", '']]) %>
  </div>

  <h4>Or Choose What Should Appear on the Basket Homepage</h4>

  <div class="form-element"><label for="basket_index_page_topic_is_entire_page">Only homepage topic?</label>
    <%= homepage_form.check_box :index_page_topic_is_entire_page %></div>

  <h4>Or homepage topic and the following:</h4>

  <div class="form-element"><label for="basket_index_page_link_to_index_topic_as">A link to the homepage topic's?</label>
    <%= homepage_form.select :index_page_link_to_index_topic_as, Basket.link_to_index_topic_as_options %></div>

  <h5>Recent topics:</h5>

  <div class="form-element">Including a rolling list of recent topics is an excellent way to present this basket as a blog or a news site.</div>
  <div class="form-element"><label for="basket_index_page_number_of_recent_topics">List how many recent topics?</label>
    <%= homepage_form.text_field :index_page_number_of_recent_topics, :size => '3' %></div>

  <div class="form-element"><label for="basket_index_page_recent_topics_as">List basket's topics as?</label>
    <%= homepage_form.select :index_page_recent_topics_as, Basket.recent_topics_as_options %></div>

  <h5>Search:</h5>

  <div class="form-element"><label for="basket_index_page_basket_search">Include basket search form?</label>
    <%= homepage_form.check_box :index_page_basket_search %></div>

  <h5>Content in side bar after search:</h5>

  <div class="form-element"><label for="basket_index_page_extra_side_bar_html"
                                   class="cleared-right" style="width: 100%">Do you have anything else to put in side bar?</label>
    <%= homepage_form.text_area :index_page_extra_side_bar_html, :class => "mceEditor", :cols => 120, :rows => 10 %>
    <div class="form-element">
      Note: forms and javascript are not allowed
      for security reasons.
      <% if @site_admin -%>
      Unless you check the box below.
      <% end -%>
    </div>
  </div>

  <% if @site_admin -%>
  <div class="form-element"><label for="basket_do_not_sanitize">Allow
    forms and other possible insecure elements and attributes in the HTML?</label>
    <%= homepage_form.check_box :do_not_sanitize %></div>
  <% end -%>

  <h5>Selected Image:</h5>

  <div class="form-element"><label for="basket_index_page_image_as">Show image from basket?</label>
    <%= homepage_form.select :index_page_image_as, Basket.image_as_options %></div>

  <h5>Archives:</h5>

  <div class="form-element"><label for="basket_index_page_archives_as">List basket's archive contents as?</label>
    <%= homepage_form.select :index_page_archives_as, Basket.archives_as_options %></div>

  <h5>Tags:</h5>

  <div class="form-element"><label for="basket_index_page_number_of_tags">List how many tags?</label>
    <%= homepage_form.text_field :index_page_number_of_tags, :size => '3' %></div>

  <div class="form-element"><label for="basket_index_page_tags_as">List basket's tags as?</label>
    <%= homepage_form.select :index_page_tags_as, Basket.tags_as_options %></div>

  <div class="form-element"><label for="basket_index_page_order_tags_by">Order tags by?</label>
    <%= homepage_form.select :index_page_order_tags_by, Basket.order_tags_by_options %></div>

  <!--[eoform:basket]-->

</fieldset>
