<fieldset style="width:750px;">

  <%= error_messages_for 'basket' %>

  <%= hidden_field_tag "source_form", 'homepage_options' %>

  <% if allowed_field?('index_page_redirect_to_all') %>
    <div class="form-element">
      <label><%=t 'baskets.homepage_form.go_to_browse' %></label>
      <fieldset>
        <div class="form-element">
          <label for="basket_index_page_redirect_to_all" class="inline"><%=t 'baskets.homepage_form.redirect_to' %></label>
          <%= homepage_form.select :index_page_redirect_to_all, zoom_controllers_as_options([[t('baskets.homepage_form.dont_redirect'), '']]), {}, :tabindex => '1' %>
        </div>
      </fieldset>
    </div>
  <% end %>

  <div id="depth1" <%= 'style="display:none;"' unless current_value_of('index_page_redirect_to_all').blank? %>>

    <% if allowed_field?('index_page_topic_is_entire_page') %>
      <div class="form-element" <%= 'style="display:none;"' if @index_topic.blank? %> >
        <label><%=t 'baskets.homepage_form.homepage_topic' %></label>
        <fieldset>
          <div class="form-element">
            <% options = @index_topic.blank? ? { :disabled => true } : {} %>
            <%= homepage_form.check_box :index_page_topic_is_entire_page, options.merge({:tabindex => '1'}) %>
            <label for="basket_index_page_topic_is_entire_page" class="inline"><%=t 'baskets.homepage_form.only_homepage' %></label>
            <div class="form-element" id="depth2" <%= 'style="display:none;"' if current_value_of('index_page_topic_is_entire_page') %>>
              <br />
              <label for="basket_index_page_link_to_index_topic_as" class="inline"><%=t 'baskets.homepage_form.homepage_link' %></label>
              <%= homepage_form.select :index_page_link_to_index_topic_as, Basket.link_to_index_topic_as_options, {}, :tabindex => '1' %>
            </div>
          </div>
        </fieldset>
      </div>
    <% end %>

    <div id="depth3" <%= 'style="display:none;"' if current_value_of('index_page_topic_is_entire_page') %>>

      <% if allowed_field?('index_page_number_of_recent_topics') %>
        <div class="form-element">
          <label><%=t 'baskets.homepage_form.recent_topics' %></label>
          <fieldset>
            <div class="form_example"><%=t 'baskets.homepage_form.recent_topics_example' %></div>
            <div class="form-element">
              <label for="basket_index_page_number_of_recent_topics"><%=t 'baskets.homepage_form.recent_topics_amount' %></label>
              <%= homepage_form.text_field :index_page_number_of_recent_topics, {:size => '3', :tabindex => '1'} %>
            </div>
            <div class="form-element" id="depth4" <%= 'style="display:none;"' unless current_value_of('index_page_number_of_recent_topics').to_s.to_i > 0 %>>
              <label for="basket_index_page_recent_topics_as"><%=t 'baskets.homepage_form.recent_topics_type' %></label>
              <%= homepage_form.select :index_page_recent_topics_as, Basket.recent_topics_as_options, :tabindex => '1' %>
            </div>
          </fieldset>
        </div>
      <% end %>

      <% if allowed_field?('index_page_basket_search') %>
        <div class="form-element">
          <label><%=t 'baskets.homepage_form.search' %></label>
          <fieldset>
            <div class="form-element">
              <%= homepage_form.check_box :index_page_basket_search, :tabindex => '1' %>
              <label for="basket_index_page_basket_search" class="inline"><%=t 'baskets.homepage_form.include_search' %></label>
            </div>
          </fieldset>
        </div>
      <% end %>

      <% if allowed_field?('index_page_extra_side_bar_html') %>
        <div class="form-element">
          <label for="basket_index_page_extra_side_bar_html"><%=t 'baskets.homepage_form.sidebar_content' %></label>
          <fieldset>
            <div class="form-element">
              <%= homepage_form.text_area :index_page_extra_side_bar_html, {:class => "mceEditor", :cols => 120, :rows => 10, :tabindex => '1'} %>
            </div>
            <div class="form_example">
              <%=t 'baskets.homepage_form.security_warning' %>
              <%=t 'baskets.homepage_form.security_warning_admin' if @site_admin %>
            </div>
            <% if @site_admin -%>
            <div class="form-element">
              <%= homepage_form.check_box :do_not_sanitize, :tabindex => '1' %>
              <label for="basket_do_not_sanitize" class="inline"><%=t 'baskets.homepage_form.security_exception_example' %></label><br />
            </div>
            <% end -%>
          </fieldset>
        </div>
      <% end %>

      <% if allowed_field?('index_page_image_as') %>
        <div class="form-element">
          <label><%=t 'baskets.homepage_form.selected_image' %></label>
          <fieldset>
            <div class="form-element">
              <label for="basket_index_page_image_as" class="inline"><%=t 'baskets.homepage_form.selected_image_show' %></label>
              <%= homepage_form.select :index_page_image_as, Basket.image_as_options, {}, :tabindex => '1' %>
            </div>
          </fieldset>
        </div>
      <% end %>

      <% if allowed_field?('index_page_archives_as') %>
        <div class="form-element">
          <label><%=t 'baskets.homepage_form.archives' %></label>
          <fieldset>
            <div class="form-element">
              <label for="basket_index_page_archives_as" class="inline"><%=t 'baskets.homepage_form.archives_as' %></label>
              <%= homepage_form.select :index_page_archives_as, Basket.archives_as_options, {}, :tabindex => '1' %>
            </div>
          </fieldset>
        </div>
      <% end %>

      <% if allowed_field?('index_page_number_of_tags') %>
        <div class="form-element">
          <label><%=t 'baskets.homepage_form.tags' %></label>
          <fieldset>
            <div class="form-element">
              <label for="basket_index_page_number_of_tags" class="inline"><%=t 'baskets.homepage_form.tags_amount' %></label>
              <%= homepage_form.text_field :index_page_number_of_tags, {:size => '3', :tabindex => '1'} %>
            </div>
            <div id="depth5" <%= 'style="display:none;"' unless current_value_of('index_page_number_of_tags').to_s.to_i > 0 %>>
              <div class="form-element">
                <label for="basket_index_page_tags_as" class="inline"><%=t 'baskets.homepage_form.tags_as' %></label>
                <%= homepage_form.select :index_page_tags_as, Basket.tags_as_options, :tabindex => '1' %>
              </div>
              <div class="form-element">
                <label for="basket_index_page_order_tags_by" class="inline"><%=t 'baskets.homepage_form.tags_ordered_by' %></label>
                <%= homepage_form.select :index_page_order_tags_by, Basket.order_tags_by_options, :tabindex => '1' %>
              </div>
            </div>
          </fieldset>
        </div>
      <% end %>

      <% if allowed_field?('feeds_attributes') %>
        <div class="form-element">
          <label><%=t 'baskets.homepage_form.rss_feeds' %></label>
          <fieldset>
            <%= render 'basket_feeds_fields', :feeds => @basket.feeds %>
          </fieldset>
        </div>
      <% end %>

    </div>

  </div>

  <%= setupEnableDisableFunctions %>
  <%= toggle_elements_applicable('basket_index_page_redirect_to_all',
      '==', '', 'depth1') %>
  <%= toggle_elements_applicable('basket_index_page_topic_is_entire_page',
      '!', '', 'depth2', true) %>
  <%= toggle_elements_applicable('basket_index_page_topic_is_entire_page',
      '!', '', 'depth3', true) %> <% # checkboxes are different in that they
                                     # dont have a changing value, they are either checked or not so
                                     # the true param tells it this element
                                     # is a checkbox, and the ! says we want to show the depth2 if its not checked %>
  <%= toggle_elements_applicable('basket_index_page_number_of_recent_topics',
      '>', '0', 'depth4') %>
  <%= toggle_elements_applicable('basket_index_page_number_of_tags',
      '>', '0', 'depth5') %>

</fieldset>
