<% @title = "What "
   @title += "would you like to add?"
   @title += " Where would you like to add it?" if @basket_list.size > 1
-%>

<div id="add_item_form">

  <h2><%= @title -%></h2>

  <% form_remote_tag( :url => { :action => 'choose_type' },
                      :before => "Element.show('data_spinner')",
                      :complete => "Element.hide('data_spinner')" ) do -%>

    <fieldset>
      <% if @basket_list.size > 1 -%>
      <div class="form-element">
        <label for="new_item_basket">Add in?</label>
        <%= select_tag 'new_item_basket', options_for_select(@basket_list, @current_basket.urlified_name), :tabindex => '1' -%>
      </div>
      <% else %>
        <%= hidden_field_tag 'new_item_basket', @basket_list.first -%>
      <% end %>

      <div class="form-element">
        <% if @basket_list.size > 1 -%>
        <label for="new_item_controller">Add a?</label>
        <% end %>
        <%= select_tag 'new_item_controller', options_for_select(@item_types), :tabindex => '1' -%>
      </div>
    </fieldset>

    <%= submit_tag "Choose" , { :class => "save-button", :tabindex => '1' } -%>
    <img src='/images/indicator.gif' width='16' height='16' alt='Preparing new item forms. ' id='data_spinner' style='display:none;' />

  <% end %>

  <%= link_to_cancel -%>

</div>

<%= render :partial => "topics/content_wrapper_end" -%>
