<% if @basket_list.size > 0 %>

<% @title = t('baskets.choose_type.what_to_add')
   if params[:relate_to_topic]
     topic = Topic.find(params[:relate_to_topic])
     topic.private_version! if params[:related_topic_private] && params[:related_topic_private] == 'true' && permitted_to_view_private_items?
     @title += " " + t('baskets.choose_type.that_relates_to', :topic_title => topic.title)
   end
   @title += "? "
   @title += t('baskets.choose_type.where_to_add') if @basket_list.size > 1
-%>

<div id="add_item_form">

  <h2><%= @title -%></h2>

  <% form_tag do -%>

    <fieldset>
      <%= hidden_field_tag "relate_to_topic", params[:relate_to_topic] %>
      <%= hidden_field_tag "related_topic_private", params[:related_topic_private] %>

      <% if @basket_list.size > 1 -%>
        <div class="form-element">
          <label for="new_item_basket"><%=t 'baskets.choose_type.add_in' %></label>
          <%= select_tag 'new_item_basket', options_for_select(@basket_list, @current_basket.urlified_name), :id => 'new_item_basket', :tabindex => '1' -%>
        </div>
      <% else %>
        <%= hidden_field_tag 'new_item_basket', @basket_list.first[1] -%>
      <% end %>

      <div class="form-element">
        <label for="new_item_controller"><%=t 'baskets.choose_type.add_a' %></label>
        <%= select_tag 'new_item_controller', options_for_select([[t('baskets.choose_type.choose_type'), '']] + @item_types), :id => 'new_item_controller', :tabindex => '1' -%>
      </div>

      <div id="topic_type_form" style="display:none;">
        <%= render :partial => 'topics/pick_form', :locals =>
        {:pre_options => [['', '']] } -%>
      </div>

    </fieldset>

    <noscript>
      <span id="submit_button">
        <%= submit_tag t('baskets.choose_type.button'), { :class => "save-button", :tabindex => '1' } -%>
      </span>
    </noscript>

  <% end %>

  <img src='/images/indicator.gif' width='16' height='16' alt='<%=t 'baskets.choose_type.spinner_working' %>' id='data_spinner' style='display:none;' />

  <%= link_to_cancel("choose") -%>

</div>

<div id="item_form"></div>

<script type="text/javascript">
//<![CDATA[
function request_item_form(topic_type) {
  new Ajax.Request('<%= url_for(:action => "render_item_form") -%>', {
    method: 'get',
    parameters: {
      new_item_basket: $('new_item_basket').value,
      new_item_controller: $('new_item_controller').value,
      new_item_topic_type: topic_type,
      relate_to_topic: $('relate_to_topic').value,
      related_topic_private: $('related_topic_private').value
    },
    onLoading: function(loading) { $('data_spinner').show(); },
    onComplete: function(complete) { $('data_spinner').hide(); },
    onSuccess: function(success) { $('cancelchoose').hide(); $('item_form').show(); }
  });
}
$('new_item_controller').observe('change', function(event) {
  $('topic_type_form').hide();
  $('item_form').hide();
  $('item_form').innerHTML = '';
  if (Event.element(event).value == '') { return true; }
  if (Event.element(event).value == 'topics') {
    $('topic_type_form').show();
  } else {
    request_item_form('');
  }
});
$('topic_topic_type_id').observe('change', function(event) {
  $('item_form').hide();
  $('item_form').innerHTML = '';
  if (Event.element(event).value == '') { return true; }
  request_item_form($('topic_topic_type_id').value);
});
$('new_item_basket').observe('change', function(event) {
  if ($('item_form').innerHTML != '') {
    // a form is showing, we have to reload it to reset basket settings in the form
    $('item_form').hide();
    $('item_form').innerHTML = '';
    request_item_form($('topic_topic_type_id').value);
  }
});
//]]>
</script>

<% else -%>

  <% @title = t('baskets.choose_type.no_baskets_available') -%>
  <h2><%= @title %></h2>
  <p><%= t('baskets.choose_type.no_baskets_available_description') %></p>
  <p><%= t('baskets.choose_type.no_baskets_available_try_later') %></p>

<% end -%>

<%= render :partial => "topics/content_wrapper_end" -%>