<% @title = @current_basket.name + ' Homepage Options' -%>

<%= render(:partial => "actions_menu",
           :locals => { :item => @basket }) %>

<%= render :partial => "topics/content_wrapper_start" %>

<h2><%= h(@title) -%></h2>

<ul>
        <% if !@index_topic.blank? -%>
        <li>Current homepage topic: <span class="current_homepage_link"><%= link_to h(@index_topic.title), :controller => 'topics', :action => 'show', :id => @index_topic, :urlified_name => @index_topic.basket.urlified_name -%></span></li>
        <% end -%>
        <li class="command"><%= link_to_add_index_topic(:index_for_basket => @basket, :phrase => 'Add new basket homepage topic') -%></li>
        
        <% if @topics.size > 0 && !(@topics.size == 1 && @index_topic == @topics.first) -%>
        <li class="command"><%= link_to_link_index_topic(:current_basket_id => @basket.id,
                                                         :phrase => 'Link to new basket homepage topic') -%></li>
        <% end -%>

</ul>

<% form_for :basket, :url => {:action => 'update', :id => @basket} do |form| %>
  <%= render :partial => 'homepage_form', :object => form %>
  <div style="margin:0;padding:0"><%= submit_tag 'Save' , :class => "save-button" %></div>
<% end %>
<%= link_to_cancel %>

<%= render(:partial => "topics/content_wrapper_end" ) %>

