<% @title = t('baskets.permission_denied.title') -%>

<h3><%= @title -%></h3>

<p><%=t 'baskets.permission_denied.part1' %></p>

<ul>
  <li>
    <%=t 'baskets.permission_denied.part2',
         :login_link => link_to(t('baskets.permission_denied.login_link'),
                                :urlified_name => @site_basket.urlified_name,
                                :controller => 'account',
                                :action => 'login') %>
  </li>
  <% if @basket_access_hash[@current_basket.urlified_name.to_sym].blank? && @current_basket.allows_join_requests_with_inheritance? %>
    <li>
      <%=t 'baskets.permission_denied.part3',
           :basket_join_link => link_to(t('baskets.permission_denied.basket_join_link'),
                                        :urlified_name => @current_basket.urlified_name,
                                        :controller => 'members',
                                        :action => 'join') %>
    </li>
  <% end -%>
  <% if @current_basket.allows_contact_with_inheritance? %>
    <li>
      <%=t 'baskets.permission_denied.part4',
           :basket_contact_link => link_to(t('baskets.permission_denied.basket_contact_link'),
                                           "/#{@current_basket.urlified_name}/contact") %>
    </li>
  <% else -%>
    <li>
      <%=t 'baskets.permission_denied.part5',
           :email_link => mail_to(CONTACT_EMAIL, t('baskets.permission_denied.email_link'), :encode => "javascript") %>
    </li>
  <% end -%>
  <li><%=t 'baskets.permission_denied.part6' %></li>
</ul>

<p><%=t 'baskets.permission_denied.thank_you' %><br/>
<%= h(PRETTY_SITE_NAME) -%></p>

<%= render(:partial => "topics/content_wrapper_end" ) %>
