- @title = t('baskets.permission_denied.title')
%h3= @title
%p= t 'baskets.permission_denied.part1'
%ul
  %li
    = t 'baskets.permission_denied.part2',                              |
      :login_link => link_to(t('baskets.permission_denied.login_link'), |
      :urlified_name => @site_basket.urlified_name,                     |
      :controller => 'account',                                         |
      :action => 'login')                                               |
  - if @basket_access_hash[@current_basket.urlified_name.to_sym].blank? && @current_basket.allows_join_requests_with_inheritance?
    %li
      = t 'baskets.permission_denied.part3',                                          |
        :basket_join_link => link_to(t('baskets.permission_denied.basket_join_link'), |
        :urlified_name => @current_basket.urlified_name,                              |
        :controller => 'members',                                                     |
        :action => 'join')                                                            |
  - if @current_basket.allows_contact_with_inheritance?
    %li
      = t 'baskets.permission_denied.part4',                                                |
        :basket_contact_link => link_to(t('baskets.permission_denied.basket_contact_link'), |
        "/#{@current_basket.urlified_name}/contact")                                        |
  - else
    %li
      = t 'baskets.permission_denied.part5',                                                                                    |
        :email_link => mail_to(SystemSetting.contact_email, t('baskets.permission_denied.email_link'), :encode => "javascript") |
  %li= t 'baskets.permission_denied.part6'
%p
  = t 'baskets.permission_denied.thank_you'
  %br/
  = h(SystemSetting.pretty_site_name)
= render(:partial => "topics/content_wrapper_end" )
