<h1>Editing license</h1>

<%= error_messages_for :license %>

<% form_for(@license, :url => { :action => 'update', :id => @license }) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Is available</b><br />
    <%= f.check_box :is_available %>
  </p>

  <p>
    <b>Image url</b><br />
    <%= f.text_field :image_url %>
  </p>

  <p>
    <b>Is creative commons</b><br />
    <%= f.check_box :is_creative_commons %>
  </p>

  <p>
    <b>Metadata</b><br />
    <%= f.text_area :metadata %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @license %> |
<%= link_to 'Back', :action => 'index' %>
