<%= setupEnableDisableFunctions(true) %>

<fieldset>

  <div class="form-element">show<br />field?</div>

  <div class="form-element">
    <%= rules_allowed_check_box('moderation_policy') %>
    <label>Moderation Policy:</label>
    <fieldset id="<%= rules_label_id('moderation_policy') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('moderation_policy') %>>
      <%= rules_select_tag('moderation_policy', @basket.moderation_select_options(current_value_for('moderation_policy'))) %>

      <div class="form-element" id="settings_moderated_except" <%= 'style="display:none"' unless current_value_for('moderation_policy') == 'true' -%>>
        <label class="inline">Moderator views items before approved EXCEPT:</label>
        <fieldset>
          <% ZOOM_CLASSES.each do |zoom_class| -%>
            <%= rules_check_box_tag('moderated_except', zoom_class, true) %>
            <%= zoom_class_plural_humanize(zoom_class) %><br />
          <% end -%>
        </fieldset>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_label_id('moderation_policy'), '==', 'true', 'settings_moderated_except') %>
    <%= toggle_elements_applicable(rules_allowed_id('moderation_policy'), '', '', "#{rules_label_id('moderation_policy')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('show_privacy_controls') %>
    <label>Privacy Controls:</label>
    
    <fieldset id="<%= rules_label_id('show_privacy_controls') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('show_privacy_controls') %>>
      <div class="form-element">
        <%= rules_radio_button_tag('show_privacy_controls', 'true') %>
        <label for="<%= rules_label_id('show_privacy_controls', 'true') %>" class="inline">Enabled</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('show_privacy_controls', 'false') %>
        <label for="<%= rules_label_id('show_privacy_controls', 'false') %>" class="inline">Disabled</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('show_privacy_controls', 'nil') %>
        <label for="<%= rules_label_id('show_privacy_controls', 'nil') %>" class="inline">Inherit</label>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('show_privacy_controls'), '', '', "#{rules_label_id('show_privacy_controls')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('private_default') %>
    <label>Default Item Privacy:</label>

    <fieldset id="<%= rules_label_id('private_default') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('private_default') %>>
      <div class="form-element">
        <%= rules_radio_button_tag('private_default', 'false') %>
        <label for="<%= rules_label_id('private_default', 'false') %>" class="inline">Public</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('private_default', 'true') %>
        <label for="<%= rules_label_id('private_default', 'true') %>" class="inline">Private</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('private_default', 'nil') %>
        <label for="<%= rules_label_id('private_default', 'nil') %>" class="inline">Inherit</label>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('private_default'), '', '', "#{rules_label_id('private_default')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('file_private_default') %>
    <label>Default Original File Privacy:</label>

    <fieldset id="<%= rules_label_id('file_private_default') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('file_private_default') %>>
      <div class="form-element">
        <%= rules_radio_button_tag('file_private_default', 'false') %>
        <label for="<%= rules_label_id('file_private_default', 'false') %>" class="inline">Public</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('file_private_default', 'true') %>
        <label for="<%= rules_label_id('file_private_default', 'true') %>" class="inline">Private</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('file_private_default', 'nil') %>
        <label for="<%= rules_label_id('file_private_default', 'nil') %>" class="inline">Inherit</label>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('file_private_default'), '', '', "#{rules_label_id('file_private_default')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('private_file_visibility') %>
    <label>Private Original Files Visibility:</label>

    <fieldset id="<%= rules_label_id('private_file_visibility') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('private_file_visibility') %>>
      <div class="form-element">
        <label for="<%= rules_label_id('private_file_visibility') %>" style="width: 100%">
          To view private attached files you must be at least a:
        </label>
        <div style="clear: left">
          <%= rules_select_tag('private_file_visibility', @basket.private_file_visibility_as_options(@site_basket, current_value_for('private_file_visibility'))) %>
        </div>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('private_file_visibility'), '', '', "#{rules_label_id('private_file_visibility')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('allow_non_member_comments') %>
    <label>Who can add, edit and update comments on items?:</label>

    <fieldset id="<%= rules_label_id('allow_non_member_comments') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('allow_non_member_comments') %>>
      <div class="form-element">
        <%= rules_radio_button_tag('allow_non_member_comments', 'true') %>
        <label for="<%= rules_label_id('allow_non_member_comments', 'true') %>" class="inline">Anyone logged in</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('allow_non_member_comments', 'false') %>
        <label for="<%= rules_label_id('allow_non_member_comments', 'false') %>" class="inline">Only basket members</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('allow_non_member_comments', 'nil') %>
        <label for="<%= rules_label_id('allow_non_member_comments', 'nil') %>" class="inline">Inherit</label>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('allow_non_member_comments'), '', '', "#{rules_label_id('allow_non_member_comments')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('sort_order_default') %>
    <label>Default Browse Results Order:</label>

    <fieldset id="<%= rules_label_id('sort_order_default') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('sort_order_default') %>>
      <div class="form-element">
        <label for="<%= rules_label_id('sort_order_default') %>" style="width: 100%">
          Sort by:
        </label>
        <div style="clear: left;">
          <%= rules_select_tag('sort_order_default', "<option value='none'>use software default</option>#{Search.all_sort_types(current_value_for('sort_order_default'), 'all')}") %>
        </div>
      </div>

      <div class="form-element">
        <%= rules_check_box_tag('sort_direction_reversed_default', 'reverse') %>
        <label for="<%= rules_label_id('sort_direction_reversed_default') %>" class="inline">in reverse?</label>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('sort_order_default'), '', '', "#{rules_label_id('sort_order_default')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('disable_site_recent_topics_display') %>
    <label>Disable Site Recent Topics Display:</label>

    <fieldset id="<%= rules_label_id('disable_site_recent_topics_display') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('disable_site_recent_topics_display') %>>
      <div class="form-element">
        <%= rules_check_box_tag('disable_site_recent_topics_display', 'true') %>
        <label for="<%= rules_label_id('disable_site_recent_topics_display') %>" class="inline">
          Do not show new/edited topics in recent results on the Site basket?
        </label>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('disable_site_recent_topics_display'), '', '', "#{rules_label_id('disable_site_recent_topics_display')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('basket_join_policy') %>
    <label>Join Policy:</label>

    <fieldset id="<%= rules_label_id('basket_join_policy') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('basket_join_policy') %>>
      <div class="form-element">
        <%= rules_radio_button_tag('basket_join_policy', 'open') %>
        <label for="<%= rules_label_id('basket_join_policy', 'open') %>" class="inline">Open Membership</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('basket_join_policy', 'request') %>
        <label for="<%= rules_label_id('basket_join_policy', 'request') %>" class="inline">Request Membership</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('basket_join_policy', 'closed') %>
        <label for="<%= rules_label_id('basket_join_policy', 'closed') %>" class="inline">Closed Membership</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('basket_join_policy', 'nil') %>
        <label for="<%= rules_label_id('basket_join_policy', 'nil') %>" class="inline">Inherit</label>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('basket_join_policy'), '', '', "#{rules_label_id('basket_join_policy')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('memberlist_policy') %>
    <label>Member List Policy:</label>

    <fieldset id="<%= rules_label_id('memberlist_policy') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('memberlist_policy') %>>
      <div class="form-element">
        <label for="<%= rules_label_id('memberlist_policy') %>" style="width: 100%">
          To view the member list you must be at least a:
        </label>
        <div style="clear: left">
          <%= rules_select_tag('memberlist_policy', @basket.memberlist_policy_or_default(current_value_for('memberlist_policy'))) %>
        </div>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('memberlist_policy'), '', '', "#{rules_label_id('memberlist_policy')}_fieldset", true) %>
  </div>

  <div class="form-element">
    <%= rules_allowed_check_box('allow_basket_admin_contact') %>
    <label>Administrator contact?</label>

    <fieldset id="<%= rules_label_id('allow_basket_admin_contact') %>_fieldset"<%= ' style="display:none;"' unless allowed_value?('allow_basket_admin_contact') %>>
      <div class="form-element">
        <%= rules_radio_button_tag('allow_basket_admin_contact', 'true') %>
        <label for="<%= rules_label_id('allow_basket_admin_contact', 'true') %>" class="inline">Enabled</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('allow_basket_admin_contact', 'false') %>
        <label for="<%= rules_label_id('allow_basket_admin_contact', 'false') %>" class="inline">Disabled</label>
      </div>

      <div class="form-element">
        <%= rules_radio_button_tag('allow_basket_admin_contact', 'nil') %>
        <label for="<%= rules_label_id('allow_basket_admin_contact', 'nil') %>" class="inline">Inherit</label>
      </div>
    </fieldset>
    <%= toggle_elements_applicable(rules_allowed_id('allow_basket_admin_contact'), '', '', "#{rules_label_id('allow_basket_admin_contact')}_fieldset", true) %>
  </div>

</fieldset>
