<fieldset>

  <div class="form-element"><%=t 'profiles.homepage_options.show_field' %></div>

  <div class="form-element">
    <%= rules_allowed_check_box('index_page_redirect_to_all') %>
    <label><%=t 'profiles.homepage_options.go_to_browse' %></label>
    <%= rules_fieldset_tag('index_page_redirect_to_all') %>
      <%= rules_select_tag('index_page_redirect_to_all', options_for_select(zoom_controllers_as_options([[t('profiles.homepage_options.dont_redirect'), '']]), current_value_for('index_page_redirect_to_all')), t('profiles.homepage_options.go_to_browse_description')) %>
    </fieldset>
  </div>

  <div id="depth1" <%= 'style="display:none;"' unless current_value_for('index_page_redirect_to_all').blank? %>>

    <div class="form-element">
      <%= rules_allowed_check_box('index_page_topic_is_entire_page') %>
      <label><%=t 'profiles.homepage_options.homepage_topic' %></label>
      <%= rules_fieldset_tag('index_page_topic_is_entire_page') %>
        <%= rules_check_box_tag('index_page_topic_is_entire_page', '1', t('profiles.homepage_options.show_only_homepage_topic')) %>
        <div class="form-element" id="depth2" <%= 'style="display:none;"' unless current_value_for('index_page_topic_is_entire_page').blank? %>>
          <%= rules_select_tag('index_page_link_to_index_topic_as', options_for_select(Basket.link_to_index_topic_as_options, current_value_for('index_page_link_to_index_topic_as')), t('profiles.homepage_options.show_link_to_homepage_topic')) %>
        </div>
      </fieldset>
    </div>

    <div id="depth3" <%= 'style="display:none;"' unless current_value_for('index_page_topic_is_entire_page').blank? %>>

      <div class="form-element">
        <%= rules_allowed_check_box('index_page_number_of_recent_topics') %>
        <label><%=t 'profiles.homepage_options.recent_topics' %></label>
        <%= rules_fieldset_tag('index_page_number_of_recent_topics') %>
          <%= rules_text_field_tag('index_page_number_of_recent_topics', t('profiles.homepage_options.how_many_recent_topics')) %>
          <div class="form-element" id="depth4" <%= 'style="display:none;"' unless current_value_for('index_page_number_of_recent_topics').to_i > 0 %>>
            <%= rules_select_tag('index_page_recent_topics_as', options_for_select(Basket.recent_topics_as_options, current_value_for('index_page_recent_topics_as')), t('profiles.homepage_options.list_topics_as')) %>
          </div>
        </fieldset>
      </div>

      <div class="form-element">
        <%= rules_allowed_check_box('index_page_basket_search') %>
        <label><%=t 'profiles.homepage_options.search' %></label>
        <%= rules_fieldset_tag('index_page_basket_search') %>
          <%= rules_check_box_tag('index_page_basket_search', '1', t('profiles.homepage_options.search_description')) %>
        </fieldset>
      </div>

      <div class="form-element">
        <%= rules_allowed_check_box('index_page_extra_side_bar_html') %>
        <label><%=t 'profiles.homepage_options.sidebar_content' %></label>
        <%= rules_fieldset_tag('index_page_extra_side_bar_html') %>
          <%= rules_text_area_tag('index_page_extra_side_bar_html') %>
          <%= rules_check_box_tag('do_not_sanitize', 'true', t('profiles.homepage_options.sidebar_content_do_not_sanitize')) %>
        </fieldset>
      </div>

      <div class="form-element">
        <%= rules_allowed_check_box('index_page_image_as') %>
        <label><%=t 'profiles.homepage_options.selected_image' %></label>
        <%= rules_fieldset_tag('index_page_image_as') %>
          <%= rules_select_tag('index_page_image_as', options_for_select(Basket.image_as_options, current_value_for('index_page_image_as')), t('profiles.homepage_options.selected_image_description')) %>
        </fieldset>
      </div>

      <div class="form-element">
        <%= rules_allowed_check_box('index_page_archives_as') %>
        <label><%=t 'profiles.homepage_options.archives' %></label>
        <%= rules_fieldset_tag('index_page_archives_as') %>
          <%= rules_select_tag('index_page_archives_as', options_for_select(Basket.archives_as_options, current_value_for('index_page_archives_as')), t('profiles.homepage_options.archives_description')) %>
        </fieldset>
      </div>

      <div class="form-element">
        <%= rules_allowed_check_box('index_page_number_of_tags') %>
        <label><%=t 'profiles.homepage_options.tags' %></label>
        <%= rules_fieldset_tag('index_page_number_of_tags') %>
          <%= rules_text_field_tag('index_page_number_of_tags', t('profiles.homepage_options.how_many_tags')) %>
          <div id="depth5" <%= 'style="display:none;"' unless current_value_for('index_page_number_of_tags').to_i > 0 %>>
            <%= rules_select_tag('index_page_tags_as', options_for_select(Basket.tags_as_options, current_value_for('index_page_tags_as')), t('profiles.homepage_options.list_tags_as')) %>
            <%= rules_select_tag('index_page_order_tags_by', options_for_select(Basket.order_tags_by_options, current_value_for('index_page_order_tags_by')), t('profiles.homepage_options.order_tags_by')) %>
          </div>
        </fieldset>
      </div>

      <div class="form-element">
        <%= rules_allowed_check_box('feeds_attributes') %>
        <label><%=t 'profiles.homepage_options.rss_or_atom_feeds' %></label>
        <%= rules_fieldset_tag('feeds_attributes') %>
          <%= render 'baskets/basket_feeds_fields', :field_name_prefix => "#{@rule_locals[:values_field_prefix]}[feeds_attributes]" %>
        </fieldset>
      </div>

    </div>

  </div>

</fieldset>

<%= toggle_elements_applicable('record_rules_homepage_options_values_index_page_redirect_to_all', '==', '', 'depth1', false, false) %>
<%= toggle_elements_applicable('record_rules_homepage_options_values_index_page_topic_is_entire_page', '!', '', 'depth2', true, false) %>
<%= toggle_elements_applicable('record_rules_homepage_options_values_index_page_topic_is_entire_page', '!', '', 'depth3', true, false) %>
<%= toggle_elements_applicable('record_rules_homepage_options_values_index_page_number_of_recent_topics', '>', '0', 'depth4', false, false) %>
<%= toggle_elements_applicable('record_rules_homepage_options_values_index_page_number_of_tags', '>', '0', 'depth5', false, false) %>

<%= rules_section_javascript %>