%tr
  %td
    %h4= t 'content_types.generic_fields.title'
    %p= t 'content_types.generic_fields.note'
    %ul
      %li= t 'content_types.generic_fields.title_field'
      %li= t 'content_types.generic_fields.short_summary_field'
      %li= t 'content_types.generic_fields.description_field'
    %p= t 'content_types.generic_fields.present_in_all'
