- @title = t('comments.edit.title')
%h2= h(@title)
= form_for :comment, method: :put, url: { action: 'update', id: @comment } do |form|
  = render :partial => 'form', :object => form
  .wrap
    = submit_tag t('comments.edit.button'), {:class => "save-button", :tabindex => '1'}
= link_to_cancel

