= render(:partial => "topics/actions_menu", :locals => { :item => @comment }) if current_user_can_see_action_menu?
= render(:partial => "topics/content_wrapper_start")
%h2= h(@comment.title)
= @comment.description.html_safe
= pending_review(@comment)
%div{:style => "clear:both;"}
= render(:partial => "topics/contributors", :locals => { :item => @comment }) if current_user_can_see_contributors?
/ /main-content-container
/ /main-content-wrapper
#secondary-content-wrapper
  = render(:partial => "topics/tags_div", :locals => { :item => @comment })
  = render(:partial => "topics/extended_fields", :locals => { :item => @comment })
/ /secondary-content-wrapper
/ /content-wrapper
