<% display ||= Array.new %>
<% @populate_values = populate_values rescue false %>

<div id="advanced_search_dropdown" style="display:none;">

  <table>

    <% if display.include?(:dates) %>
    <tr>
      <td colspan="3" class="header">
        <label for="date_since"><%= t('search.mini_controls.date') %></label>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="fields"><%= render 'search/refine_by_date', :in_table => true %></td>
    </tr>
    <% end %>

    <tr>
      <td colspan="3" class="header"><%= t('search.mini_controls.results_display') %></td>
    </tr>

    <% if display.include?(:privacy_type) && logged_in? && Basket.privacy_exists %>
    <tr>
      <% selected = ((params[:privacy_type] if @populate_values) || 'public') %>
      <td class="label"><%= t('search.mini_controls.that_are') %></td>
      <% %w{ public private }.each do |privacy_type| %>
        <td class="fields">
          <%= radio_button_tag('privacy_type', privacy_type, (privacy_type == selected)) %>
          <%= t("search.mini_controls.#{privacy_type}") %>
        </td>
      <% end %>
    </tr>
    <% end %>

    <% if display.include?(:item_types) %>
    <tr>
      <td class="label"><%= t('search.mini_controls.show') %></td>
      <td colspan="2" class="fields">
        <%
        options = %w{ topics images audio video web_links documents comments }.collect do |item_type|
          [zoom_class_plural_humanize(zoom_class_from_controller(item_type)), item_type]
        end
        selected = (params[:controller_name_for_zoom_class].blank? ? 'topics' : params[:controller_name_for_zoom_class]) if @populate_values
        %>
        <%= select_tag('controller_name_for_zoom_class', options_for_select(options, selected)) %>
      </td>
    </tr>
    <% end %>

    <% if display.include?(:baskets) && @basket_access_hash.keys.size > 0 %>
    <tr>
      <td class="label"><%= t('search.mini_controls.within') %></td>
      <td colspan="2" class="fields">
        <%
        options = [[t('search.mini_controls.all_of', :site_basket_name => @site_basket.name), 'site']]
        @basket_access_hash.each do |basket_urlified_name, value|
          next if basket_urlified_name == :site
          options << [value[:basket_name], basket_urlified_name.to_s]
        end
        selected = params[:urlified_name] if @populate_values
        %>
        <%= select_tag('target_basket', options_for_select(options, selected)) %>
      </td>
    </tr>
    <% end %>

    <% if display.include?(:sorting) %>
    <tr>
      <td class="label"><%= t('search.mini_controls.sorted_by') %></td>
      <td colspan="2" class="fields">
        <% sort_type = @current_basket.settings[:sort_order_default] %>
        <%= select_tag 'sort_type', Search.all_sort_types(sort_type, 'for')  %>
        <br />
        <% currently_disabled = sort_type == 'none' %>
        <div id="sort_direction_field" <%= 'style="display:none"' if currently_disabled -%>>
          <label for="sort_direction"><%=t 'search.mini_controls.in_reverse' %></label>
          <% currently_reversed = sort_type != 'none' %>
          <input type="checkbox" name="sort_direction" id="sort_direction" value="reverse"<%= ' disabled="true"' if currently_disabled -%><%= ' checked="checked"' if currently_reversed -%> tabindex="1" />
        </div>
        <%= toggle_in_reverse_field_js_helper -%>
      </td>
    </tr>
    <% end %>

  </table>

  <hr />

  <%#TODO: Extract this out to unobtrusive JS %>
  <div class="close"><%= link_to('[x]', '#', :alt => t('search.mini_controls.close'),
                                 :title => t('search.mini_controls.close'),
                                 :onclick => "$('advanced_search_dropdown').hide();") %></div>

  <div class="reset"><input type="reset" value="<%= t('search.mini_controls.clear') %>" /></div>

  <div style="clear:both;"></div>

</div>

<%#TODO: Extract this out to unobtrusive JS %>
<% search_dropdown_link = link_to(image_tag('search.png', :width => 20, :height => 13), '#',
                                  :onclick => "$('advanced_search_dropdown').toggle();
                                              if($('search_terms').value == '#{default_search_terms_for_js}') {
                                                $('search_terms').value = '';
                                              }") %>
<%= javascript_tag("$('advanced_search_dropdown_link').insert('#{escape_javascript(search_dropdown_link)}');") %>
