<%
display_menu = (type == 'menu')
display_refine = (type == 'refine')
clear_values = display_menu
horizontal = display_refine
%>

<div id="<%= id %>" class="search_dropdown<%= ' horizontal' if horizontal %>" style="display:none;">

  <% if display_menu %>
    <div class="header"><%= t('search.mini_controls.and') %></div>
  <% end %>

  <table>

    <%= "<tr><td valign='top'><table>" if horizontal %>

    <% if display_search_field_for?(type, DISPLAY_SEARCH_TERMS_FIELD) %>
    <tr>
      <td colspan="3" class="header">
        <label for="search_terms"><%= t('search.mini_controls.search_terms') %></label>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="fields">
        <%= text_field_tag 'search_terms', (h(@search_terms.to_s) unless clear_values), :size => 30, :tabindex => '1' %>
      </td>
    </tr>
    <% end %>

    <% if display_search_field_for?(type, DISPLAY_DATE_RANGE_FIELDS) %>
    <tr>
      <td colspan="3" class="header">
        <label for="date_since"><%= t('search.mini_controls.date') %></label>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="fields">
        <%= render 'search/refine_by_date', :clear_values => clear_values %>
      </td>
    </tr>
    <% end %>

    <%= "</table></td><td valign='top'><table>" if horizontal %>

    <tr>
      <td colspan="3" class="header"><%= t('search.mini_controls.results_display') %></td>
    </tr>

    <% controls_permitted = display_menu || @current_basket.show_privacy_controls_with_inheritance? %>
    <% if display_search_field_for?(type, DISPLAY_PRIVACY_FIELDS) && logged_in? && controls_permitted && Basket.privacy_exists %>
    <tr>
      <% default = @current_basket.private_default_with_inheritance? ? 'private' : 'public' %>
      <% @current_privacy = ((params[:privacy_type] unless clear_values) || (DEFAULT_SEARCH_PRIVACY if display_menu) || default) %>
      <td class="label"><%= t('search.mini_controls.that_are') %></td>
      <% %w{ public private }.each do |privacy_type| %>
        <td class="fields">
          <%= radio_button_tag('privacy_type', privacy_type, (privacy_type == @current_privacy)) %>
          <%= t("search.mini_controls.#{privacy_type}") %>
        </td>
      <% end %>
    </tr>
    <% end %>

    <% if display_search_field_for?(type, DISPLAY_ITEM_TYPE_FIELD) %>
    <tr>
      <td class="label"><%= t('search.mini_controls.show') %></td>
      <td colspan="2" class="fields">
        <%
        options = %w{ topics images audio video web_links documents comments }.collect do |item_type|
          [zoom_class_plural_humanize(zoom_class_from_controller(item_type)), item_type]
        end
        selected = (params[:controller_name_for_zoom_class].blank? || clear_values ? 'topics' : params[:controller_name_for_zoom_class])
        %>
        <%= select_tag('controller_name_for_zoom_class', options_for_select(options, selected)) %>
      </td>
    </tr>
    <% end %>

    <% if display_search_field_for?(type, DISPLAY_TOPIC_TYPE_FIELD) && topic_type_useful_here?(type) %>
    <tr>
      <td class="label"><%=t 'search.mini_controls.about_a' %></td>
      <td colspan="2" class="fields">
        <%= topic_type_select_with_indent('topic_type', nil, TopicType.find(1).full_set,
                                          :name, :name, (clear_values ? SEARCH_SELECTED_TOPIC_TYPE : params[:topic_type]), {},
                                          [[t('search.mini_controls.any_topic_type'), '']]) %>
        <%= toggle_topic_types_field_js_helper_for(id) -%>
      </td>
    </tr>
    <% end %>

    <% if display_search_field_for?(type, DISPLAY_BASKET_FIELD) %>
    <tr>
      <td class="label"><%= t('search.mini_controls.within') %></td>
      <td colspan="2" class="fields">
        <%
        selected = params[:urlified_name]
        selected = (SEARCH_SELECT_CURRENT_BASKET ? @current_basket.urlified_name : @site_basket.urlified_name) if clear_values
        options = basket_option_for(@site_basket, :label => t('search.mini_controls.all_of', :site_basket_name => @site_basket.name))
        baskets = Basket.all(:conditions => ["id NOT IN (?)", @standard_baskets]) +
                  [@help_basket, @about_basket, @documentation_basket]
        baskets.each { |basket| options += basket_option_for(basket, :selected => selected) }
        %>
        <%= select_tag('target_basket', options) %>
        <%= adjust_target_basket_options_for_privacy(@current_privacy) %>
      </td>
    </tr>
    <% end %>

    <% if display_search_field_for?(type, DISPLAY_SORTING_FIELDS) %>
    <tr>
      <td class="label"><%= t('search.mini_controls.sorted_by') %></td>
      <td colspan="2" class="fields">
        <% sort_type = clear_values ? '' : current_sort_type %>
        <%= select_tag 'sort_type', Search.all_sort_types(sort_type, params[:action], true), :tabindex => '1' %>
        <br />
        <div id="sort_direction_field">
          <label for="sort_direction"><%=t 'search.mini_controls.in_reverse' %></label>
          <% sort_direction = clear_values ? '' : current_sort_direction %>
          <%= check_box_tag 'sort_direction', 'reverse', (sort_direction == 'reverse'), :tabindex => '1' %>
        </div>
        <%= toggle_relevance_field_js_helper_for(id) -%>
        <%= toggle_in_reverse_field_js_helper_for(id) -%>
      </td>
    </tr>
    <% end %>

    <% if display_search_field_for?(type, DISPLAY_CHOICES_FIELD) && (@extended_field || categories_field) %>
    <tr>
      <td class="label"><%= t('search.mini_controls.categorised') %></td>
      <td colspan="2" class="fields">
        <%= render 'search/refine_by_choice', :without_label => true, :clear_values => clear_values %>
      </td>
    </tr>
    <% end %>

    <%= "</table></td></tr>" if horizontal %>

  </table>

  <% if display_refine %>
    <div class="submit">
      <hr /><input type="submit" value="<%= t('search.mini_controls.update') %>" />
    </div>
  <% end %>

  <% if display_menu %>
    <div class="reset"><input type="reset" value="<%= t('search.mini_controls.clear') %>" /></div>
  <% end %>

  <% if display_menu && users_previous_searches.size > 0 %>
    <div id="recent_searches">
      <div class="header"><%= t('search.mini_controls.recent_searches') %></div>
      <ul class="searches">
        <% users_previous_searches[0...5].each do |search| %>
        <li><%= link_to truncate(search[:title], :length => 35), search[:url], :title => search[:title] %></li>
        <% end %>
      </ul>
      <ul class="actions">
        <% options = { :urlified_name => @site_basket.urlified_name, :controller => 'search' } %>
        <li class="first"><%= link_to t('search.mini_controls.previous_searches'), options.merge(:action => 'list') %></li>
        <li><%= link_to t('search.mini_controls.clear_all_searches'), options.merge(:action => 'clear') %></li>
      </ul>
    </div>
  <% end %>

  <div class="close"><%= link_to('[x]', '#', :alt => t('search.mini_controls.close'),
                                 :title => t('search.mini_controls.close'),
                                 :onclick => "$('#{id}').hide();") %></div>

  <% if display_menu %>
    <div style="clear:both;"></div>
  <% end %>

</div>
