<%
display ||= Array.new
show_button ||= false
show_reset ||= false
horizontal ||= false
@populate_values = populate_values rescue false
%>

<div id="<%= id %>" class="search_dropdown<%= ' horizontal' if horizontal %>" style="display:none;">

  <table>

    <%= "<tr><td valign='top'><table>" if horizontal %>

    <% if display.include?(:search_terms) %>
    <tr>
      <td colspan="3" class="header">
        <label for="search_terms"><%= t('search.mini_controls.search_terms') %></label>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="fields">
        <%= text_field_tag 'search_terms', h(@search_terms.to_s), :size => 30, :tabindex => '1' %>
      </td>
    </tr>
    <% end %>

    <% if display.include?(:dates) %>
    <tr>
      <td colspan="3" class="header">
        <label for="date_since"><%= t('search.mini_controls.date') %></label>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="fields"><%= render 'search/refine_by_date', :in_table => true %></td>
    </tr>
    <% end %>

    <%= "</table></td><td valign='top'><table>" if horizontal %>

    <tr>
      <td colspan="3" class="header"><%= t('search.mini_controls.results_display') %></td>
    </tr>

    <% if display.include?(:privacy_type) && logged_in? && Basket.privacy_exists %>
    <tr>
      <% selected = ((params[:privacy_type] if @populate_values) || 'public') %>
      <td class="label"><%= t('search.mini_controls.that_are') %></td>
      <% %w{ public private }.each do |privacy_type| %>
        <td class="fields">
          <%= radio_button_tag('privacy_type', privacy_type, (privacy_type == selected)) %>
          <%= t("search.mini_controls.#{privacy_type}") %>
        </td>
      <% end %>
    </tr>
    <% end %>

    <% if display.include?(:item_types) %>
    <tr>
      <td class="label"><%= t('search.mini_controls.show') %></td>
      <td colspan="2" class="fields">
        <%
        options = %w{ topics images audio video web_links documents comments }.collect do |item_type|
          [zoom_class_plural_humanize(zoom_class_from_controller(item_type)), item_type]
        end
        selected = (params[:controller_name_for_zoom_class].blank? ? 'topics' : params[:controller_name_for_zoom_class]) if @populate_values
        %>
        <%= select_tag('controller_name_for_zoom_class', options_for_select(options, selected)) %>
      </td>
    </tr>
    <% end %>

    <% if display.include?(:baskets) && @basket_access_hash.keys.size > 0 %>
    <tr>
      <td class="label"><%= t('search.mini_controls.within') %></td>
      <td colspan="2" class="fields">
        <%
        options = [[t('search.mini_controls.all_of', :site_basket_name => @site_basket.name), 'site']]
        @basket_access_hash.each do |basket_urlified_name, value|
          next if basket_urlified_name == :site
          options << [value[:basket_name], basket_urlified_name.to_s]
        end
        selected = params[:urlified_name] if @populate_values
        %>
        <%= select_tag('target_basket', options_for_select(options, selected)) %>
      </td>
    </tr>
    <% end %>

    <% if display.include?(:topic_types) && params[:controller_name_for_zoom_class] == 'topics' %>
    <tr>
      <td class="label"><%=t 'search.mini_controls.about_a' %></td>
      <td colspan="2" class="fields">
        <%= topic_type_select_with_indent('topic_type', nil, TopicType.find(1).full_set,
                                          :name, :name, params[:topic_type], {},
                                          [[t('search.mini_controls.any_topic_type'), '']]) %>
      </td>
    </tr>
    <% end %>

    <% if display.include?(:sorting) %>
    <tr>
      <td class="label"><%= t('search.mini_controls.sorted_by') %></td>
      <td colspan="2" class="fields">
        <% sort_type = (params[:sort_type].blank? and !@current_basket.settings[:sort_order_default].blank?) ? @current_basket.settings[:sort_order_default] : params[:sort_type] %>
        <%= select_tag 'sort_type', @search.sort_type_options_for(sort_type, params[:action]), :tabindex => '1'  %>
        <br />
        <div id="sort_direction_field" <%= 'style="display:none"' if params[:action] == 'for' && (params[:sort_type].blank? || params[:sort_type] == 'none') -%>>
          <label for="sort_direction"><%=t 'search.mini_controls.in_reverse' %></label>
          <% currently_reversed = ((!params[:sort_direction].blank? && params[:sort_direction] == 'reverse') or (params[:sort_type].blank? && @current_basket.settings[:sort_direction_reversed_default] == 'reverse')) %>
          <% currently_disabled = (params[:action] == 'for' && (params[:sort_type].blank? || params[:sort_type] == 'none')) %>
          <input type="checkbox" name="sort_direction" id="sort_direction" value="reverse"<%= ' disabled="true"' if currently_disabled -%><%= ' checked="checked"' if currently_reversed -%> tabindex="1" />
        </div>
        <%= toggle_in_reverse_field_js_helper if params[:action] == 'for' -%>
      </td>
    </tr>
    <% end %>

    <% if display.include?(:choices) %>
    <tr>
      <td colspan="3"><%= render 'search/refine_by_choice' %></td>
    </tr>
    <% end %>

    <%= "</table></td></tr>" if horizontal %>

  </table>

  <hr />

  <div class="close"><%= link_to('[x]', '#', :alt => t('search.mini_controls.close'),
                                 :title => t('search.mini_controls.close'),
                                 :onclick => "$('#{id}').hide();") %></div>

  <% if show_button %>
    <div class="submit"><input type="submit" value="<%= t('search.mini_controls.update') %>" /></div>
  <% end %>

  <% if show_reset %>
    <div class="reset"><input type="reset" value="<%= t('search.mini_controls.clear') %>" /></div>
  <% end %>

  <div style="clear:left;"></div>

</div>
