<%= render :partial => 'topics/content_wrapper_start', :locals => { :style_classes => 'full-width notabs' } %>

<% @title = t('search.setup_rebuild.title') -%>

<h2><%= h(@title) -%></h2>

<!--
<h3>Some things to keep in mind:</h3>

<ul>
  <li><p></p><p></p></li>
  <li><p></p><p></p></li>
</ul>

-->

<% form_tag :overwrite_params => { :action => 'rebuild_zoom_index' }  do %>
<fieldset>

  <div class="form-element">
    <label for="zoom_class"><%=t 'search.setup_rebuild.type_to_rebuild' %></label>
    <% zoom_class_options = "<option value='all'>#{t('search.setup_rebuild.all_types')}</option>"
       ZOOM_CLASSES.each { |class_name| zoom_class_options += "<option value=\"#{class_name}\">#{zoom_class_humanize(class_name)}</option>" }
       -%>
    <%= select_tag 'zoom_class', zoom_class_options %>
  </div>

  <div id="clear_zebra_field">
    <div class="form-element">
      <label for="clear_zebra"><%=t 'search.setup_rebuild.clear_search_engine' %></label>
      <input type="checkbox" name="clear_zebra" id="clear_zebra" value="true" checked="checked" />
      <div class="form-example"><%=t 'search.setup_rebuild.clear_search_engine_description' %></div>
    </div>
  </div>

  <div id="skip_existing_field">
    <div class="form-element">
      <label for="skip_existing"><%=t 'search.setup_rebuild.skip_existing_records' %></label>
      <input type="checkbox" name="skip_existing" id="skip_existing" value="true" />
      <div class="form-example"><%=t 'search.setup_rebuild.skip_existing_records_description' %></div>
    </div>
  </div>

  <div id="skip_private_field">
    <div class="form-element">
      <label for="skip_private"><%=t 'search.setup_rebuild.skip_private_records' %></label>
      <input type="checkbox" name="skip_private" id="skip_private" value="true" />
      <div class="form-example"><%=t 'search.setup_rebuild.skip_private_records_description' %></div>
    </div>
  </div>


  <div id="start_field">
    <div class="form-element">
      <label for="start"><%=t 'search.setup_rebuild.start_rebuild_at' %></label>
      <%= text_field_tag 'start', 'first', :size => '6', :disabled => true %>
      <div class="form-example"><%=t 'search.setup_rebuild.start_rebuild_at_description' %></div>
    </div>
  </div>

  <%= enable_start_unless_all_types_js_helper -%>

  <div id="end_field">
    <div class="form-element">
      <label for="end"><%=t 'search.setup_rebuild.end_rebuild_at' %></label>
      <%= text_field_tag 'end', 'last', :size => '6', :disabled => true %>
      <div class="form-example"><%=t 'search.setup_rebuild.end_rebuild_at_description' %></div>
    </div>
  </div>

  <%= enable_end_unless_all_types_js_helper -%>

  <div class="form-element">
    <%= submit_tag t('search.setup_rebuild.start_rebuild') %>
  </div>

</fieldset>
<% end -%>

<%= render(:partial => "topics/content_wrapper_end" ) %>
