#content-tabsy
  %ul.nav-list
    %li.first.selected
      %a{:href => "#", :tabindex => "1"}
        %span.view-link= t 'topics.actions_menu.item_details'
    %li= link_to_edit_for(item)
    %li= link_to_history_for(item)
    - unless params[:controller] == 'comments'
      - cache_with_privacy(item, {:part => 'comments-link'}) do
        %li= link_to "<span class=\"discuss-link\">#{t('topics.actions_menu.discuss')} (#{@comments.size})</span>".html_safe, |
            '#comments', :tabindex => '1'                                                                          |
    - if logged_in? and @site_admin
      - cache({:part => 'zoom_reindex', :id => @cache_id}) do
        %li= link_to t('topics.actions_menu.zoom_update'),                              |
            {:action => :rebuild_zoom_for_items,                                       |
            :controller => 'search',                                                   |
            :items_to_rebuild => items_to_rebuild(item),                               |
            :authenticity_token => form_authenticity_token},                           |
            :method => :post,                                                          |
            :confirm => t('topics.actions_menu.zoom_update_confirm'), :tabindex => '1' |
        - if !@document.nil?
          - if @document.could_be_new_theme?
            %li= link_to t('topics.actions_menu.make_theme'), {:action => 'make_theme', :id => @document}, :tabindex => '1'
    - if logged_in? and @at_least_a_moderator
      %li= link_to t('topics.actions_menu.delete'),                              |
                {:action => :destroy,                                           |
                 :id => @cache_id},                                             |
          :method => :post,                                                     |
          :confirm => t('topics.actions_menu.delete_confirm'), :tabindex => '1' |
    = render :partial => 'topics/privacy_chooser', :locals => { :item => item } if @show_privacy_chooser
/ /content-tabs
