- additional_classes = 'content-tools'
.secondary-content-section-wrapper
  %div{ class: "secondary-content-section#{additional_classes}", id: "content-tools" }
    .secondary-content-section-content
      - if item.created_at < item.updated_at
        = stylish_link_to_contributions_of(@last_contributor, 'Topic', additional_classes: ['last_edited_link'], additional_html: add_to_stylish_display_with("#{t('topics.contributors.last_to_edit')} #{h(item.title)}") + add_to_stylish_display_with("#{t('topics.contributors.created_or_updated_on')} #{item.updated_at.to_s(:natural_short)}").html_safe).html_safe
      = stylish_link_to_contributions_of(@creator, 'Topic', additional_classes: ['created_link'], additional_html: add_to_stylish_display_with("#{t('topics.contributors.created')} #{h(item.title)}") + add_to_stylish_display_with("#{t('topics.contributors.created_or_updated_on')} #{item.created_at.to_s(:natural_short)}"))

      .clear
      %div{style: "clear:both;"}
    .secondary-content-section-footer-wrapper
      .secondary-content-section-footer &nbsp;
