- embedded = nil unless defined?(embedded)
- cache_key = embedded ? "secondary_content_extended_fields_embedded" : "secondary_content_extended_fields"
- cache_with_privacy(item, {:part => cache_key}) do
  - extended_fields_html = display_xml_attributes(item, :embedded_only => embedded)
  - if !extended_fields_html.blank?
    = '<div id="embedded_extended_field_data">'.html_safe if embedded
    = render(:partial => "topics/secondary_wrapper_start",               |
      :locals => { :div_id => "extended-fields", :class_suffix => nil }) |
    #detail-extended
      %h4#detail-extended-heading= h(item.title)
      %br/
      = extended_fields_html
    = render(:partial => "topics/secondary_wrapper_end")
    = '</div>'.html_safe if embedded
