<div class="form-element">
   <% if params[:controller] != "account" %><label>License</label><% end %>

<% if item.has_license? %>
 <div id="license-agreement">
   This <%= item.class.name.humanize.singularize.downcase%> is licensed under the <%=item.license.title%>.
   By editing it you agree that your changes will fall under this license (<a href="<%=item.license.url%>" target="_new" tabindex="1">view license</a>).
</div>

<% else
   item.license_id = logged_in? && !@current_user.license_id.blank? ? @current_user.license_id : configured_default_license || nil
-%>

<% if licenses_are_available? %>
<ul class="option-list">
   <% available_licenses do |license| %>
   <li><%= radio_button_for_license_selection(item.class.table_name.singularize,
                                              license,
                                              { :checked => (license.id == item.license_id),
                                                :tabindex => '1' }) %></li>
   <% end -%>
</ul>
<% if params[:controller] != 'account' -%>
<p>You can change or set your default licence by editing your
  profile</p>
<% end %>
<% else %>
<p>Please see the <%= link_to "site terms and conditions", :urlified_name => @about_basket.urlified_name, :controller => "topics", :action => "show", :id => 4, :tabindex => '1' -%> for information on how contributions are licensed.</p>
<% end %>

<% end -%>

</div>
