<div class="form-element">
   <% if params[:controller] != "account" %><label><%=t 'topics.license_chooser_or_agreement.title' %></label><% end %>

<% if item.has_license? %>
 <div id="license-agreement">
   <%=t 'topics.license_chooser_or_agreement.license_description', :item_type => item.class.name.humanize.singularize.downcase, :license_title => item.license.title %> (<a href="<%=item.license.url%>" target="_new" tabindex="1"><%=t 'topics.license_chooser_or_agreement.view_license' %></a>).
</div>

<% else
   item.license_id = logged_in? && !@current_user.license_id.blank? ? @current_user.license_id : configured_default_license || nil
-%>

<% if licenses_are_available? %>
<ul class="option-list">
   <% available_licenses do |license| %>
   <li><%= radio_button_for_license_selection(item.class.table_name.singularize,
                                              license,
                                              { :checked => (license.id == item.license_id),
                                                :tabindex => '1' }) %></li>
   <% end -%>
</ul>
<% if params[:controller] != 'account' -%>
<p><%=t 'topics.license_chooser_or_agreement.how_to_set_license' %></p>
<% end %>
<% else %>
<p><%=t 'topics.license_chooser_or_agreement.see_terms', :tac_link => link_to(t('topics.license_chooser_or_agreement.tac_link'), { :urlified_name => @about_basket.urlified_name, :controller => "topics", :action => "show", :id => 4 }, { :tabindex => '1' }) %></p>
<% end %>

<% end -%>

</div>
