- related_still_images =      related_items.select {|related_item| related_item.is_a? StillImage }

- related_topics =            related_items.select {|related_item| related_item.is_a? Topic }
- related_audio_recordings =  related_items.select {|related_item| related_item.is_a? AudioRecording }
- related_video =             related_items.select {|related_item| related_item.is_a? Video }

- related_documents =         related_items.select {|related_item| related_item.is_a? Document }
- related_web_links =         related_items.select {|related_item| related_item.is_a? WebLink }


#detail-linked-toprow

  = render 'topics/related_items_for_topics/still_images', { :related_still_images => related_still_images }

.two-col

  = render 'topics/related_items_for_topics/generic_items', { :related_items => related_topics, :item_type => "topics" }
  = render 'topics/related_items_for_topics/generic_items', { :related_items => related_audio_recordings, :item_type => "audio" }
  = render 'topics/related_items_for_topics/generic_items', { :related_items => related_video, :item_type => "video" }

  %div{:style => "clear:both;"}

.two-col

  = render 'topics/related_items_for_topics/generic_items', { :related_items => related_documents, :item_type => "documents" }
  = render 'topics/related_items_for_topics/generic_items', { :related_items => related_web_links, :item_type => "web_links" }

