<%
topics_only ||= false
@total_item_counts = related_items_count_for_current_item
if @total_item_counts > 0
  @public_items, @public_item_counts = public_related_items_for(item, { :topics_only => topics_only, :with_counts => true })
  @private_items, @private_item_counts = private_related_items_for(item, { :topics_only => topics_only, :with_counts => true })
end
-%>

<% if topics_only -%>

  <%= render(:partial => "topics/secondary_wrapper_start",
             :locals => { :div_id => "related-link", :class_suffix => "-blue" }) -%>

  <%= render(:partial => "topics/related_items_section",
             :locals => { :item => item, :zoom_class => 'Topic',
                          :display_heading => '<h3>Related Topics:</h3>',
                          :display_no_item_text => true }) -%>

  <%= render(:partial => "topics/secondary_wrapper_end") -%>

<% else -%>

  <%= render(:partial => "topics/secondary_wrapper_start",
             :locals => { :div_id => "related", :class_suffix => "-blue" }) -%>

  <h2 class="related-link">
    <%= link_to_related_items_of(item, 'Topic', :link_text => "Related Items (#{@total_item_counts})") -%>
  </h2>

  <% if current_user_can_see_add_links? -%>
    <div id="related-items-tools">
      <ul>
        <% cache({ :related => 'related-tools-create-or-link-or-remove', :id => @cache_id }) do -%>
          <%= header_add_links(:relate_to_topic => item, :related_topic_private => (params[:private] && params[:private] == 'true'), :link_text => 'Create', :class => 'first') -%>
          <%= link_to_related_item_function(:link_text => 'Link Existing', :function => 'add', :relate_to_topic => item) -%>
          <%= link_to_related_item_function(:link_text => 'Remove', :function => 'remove', :relate_to_topic => item) -%>
        <% end -%>
        <% if @basket_moderator -%>
          <% cache({ :related => 'related-tools-restore', :id => @cache_id }) do -%>
            <%= link_to_related_item_function(:link_text => 'Restore', :function => 'restore', :relate_to_topic => item) -%>
          <% end -%>
        <% end -%>
        <% if @site_admin -%>
          <% cache({ :related => 'related-tools-import', :id => @cache_id }) do -%>
            <%= link_to_add_set_of_related_items(:link_text => 'Import Set', :relate_to_topic => item) -%>
          <% end -%>
        <% end -%>
      </ul>
    </div>
    <div style="clear:both;"></div>
  <% end -%>

  <div id="detail-linked-toprow">
    <%= render(:partial => "topics/related_items_section",
               :locals => { :item => item, :zoom_class => 'StillImage' }) -%>
  </div>

  <div class="two-col">
    <%= render(:partial => "topics/related_items_section",
               :locals => { :item => item, :zoom_class => 'Topic' }) -%>
    <%= render(:partial => "topics/related_items_section",
               :locals => { :item => item, :zoom_class => 'AudioRecording' }) -%>
    <%= render(:partial => "topics/related_items_section",
               :locals => { :item => item, :zoom_class => 'Video' }) -%>
    <div class="cleaner-left">&nbsp;</div>
  </div>

  <div class="two-col">
    <%= render(:partial => "topics/related_items_section",
               :locals => { :item => item, :zoom_class => 'Document' }) -%>
    <%= render(:partial => "topics/related_items_section",
               :locals => { :item => item, :zoom_class => 'WebLink' }) -%>
  </div>

  <%= render(:partial => "topics/secondary_wrapper_end") -%>

<% end -%>
