<%
topics_only ||= false
position ||= ''

@total_item_counts = related_items_count_for_current_item
if @total_item_counts > 0
  options = { :item_classes => (topics_only ? ['Topic'] : nil), :with_counts => true, :start_record => 0,
              :end_record => [NUMBER_OF_RELATED_IMAGES_TO_DISPLAY, NUMBER_OF_RELATED_THINGS_TO_DISPLAY_PER_TYPE].sort.last }
  @public_items, @public_item_counts = public_related_items_for(item, options)
  @private_items, @private_item_counts = private_related_items_for(item, options)
end
-%>

<div id="related_items" <%= class_and_styles_from(position, @total_item_counts) %>>

<%= render("topics/secondary_wrapper_start", :div_id => "related", :class_suffix => class_suffix_from(position)) -%>

<% if topics_only -%>

  <%= render("topics/related_items_section", :item => item, :zoom_class => 'Topic',
             :display_heading => "<h3>#{t('topics.related_items.related_topics')}</h3>",
             :display_no_item_text => true) -%>

<% else -%>

  <h2 class="related-link">
    <%= link_to_related_items_of(item, 'Topic', :link_text => "#{t('topics.related_items.related_items')} (#{@total_item_counts})") -%>
  </h2>

  <div id="detail-linked-toprow">
    <%= render("topics/related_items_section", :item => item, :zoom_class => 'StillImage') -%>
  </div>

  <% [['Topic', 'AudioRecording', 'Video'],
      ['Document', 'WebLink']].each do |item_set| %>
    <div class="two-col">
      <% item_set.each do |item_type| %>
        <%= render("topics/related_items_section", :item => item, :zoom_class => item_type) -%>
      <% end %>
      <div style="clear:both;"></div>
    </div>
  <% end %>

  <div style="clear:both;"></div>

  <%= render('topics/related_items_tools', :item => item) %>

<% end -%>

<%= render("topics/secondary_wrapper_end") -%>

</div>
