<%
topics_only ||= false
inset ||= false

class_suffix = inset ? "-white" : "-blue"

@total_item_counts = 0
if any_related_items_for_current_item?
  @public_item_counts = public_related_items_for(item, { :topics_only => topics_only, :count_only => true })
  @private_item_counts = private_related_items_for(item, { :topics_only => topics_only, :count_only => true })
  @public_item_counts.each { |v| @total_item_counts += v.last }
  @private_item_counts.each { |v| @total_item_counts += v.last }

  # The public query uses mysql and is cached
  cache({ :related => 'public_query', :id => @cache_id }) do
    @public_items = public_related_items_for(item, { :topics_only => topics_only })
    "(this just ensures queries don't run when unless needed - ignore this file)"
  end
  # The private query uses zoom and isn't cached
  @private_items = private_related_items_for(item, { :topics_only => topics_only })
end
-%>

<div id="related_items"<%= " class='inset' style='width: #{(image_size_of(IMAGE_SLIDESHOW_SIZE)+30)}px;'" if inset -%>>

<% if topics_only -%>

  <%= render("topics/secondary_wrapper_start", :div_id => "related-link", :class_suffix => "-blue") -%>

  <%= render("topics/related_items_section", :item => item, :zoom_class => 'Topic',
             :display_heading => "<h3>#{t('topics.related_items.related_topics')}</h3>",
             :display_no_item_text => true) -%>

  <%= render("topics/secondary_wrapper_end") -%>

<% else -%>

  <%= render("topics/secondary_wrapper_start", :div_id => "related", :class_suffix => class_suffix) -%>

  <h2 class="related-link">
    <%= link_to_related_items_of(item, 'Topic', :link_text => "#{t('topics.related_items.related_items')} (#{@total_item_counts})") -%>
  </h2>

  <%= render('topics/related_items_tools', :item => item) unless inset %>

  <div id="detail-linked-toprow">
    <%= render("topics/related_items_section", :item => item, :zoom_class => 'StillImage', :inset => inset) -%>
  </div>

  <% [['Topic', 'AudioRecording', 'Video'],
      ['Document', 'WebLink']].each do |item_set| %>
    <div class="two-col">
      <% item_set.each do |item_type| %>
        <%= render("topics/related_items_section", :item => item, :zoom_class => item_type, :inset => inset) -%>
      <% end %>
      <div style="clear:both;"></div>
    </div>
  <% end %>

  <%= render('topics/related_items_tools', :item => item) if inset %>

  <%= render("topics/secondary_wrapper_end") -%>

<% end -%>

</div>
