#detail-linked-toprow

  - related_still_images = related_items.select {|related_item| related_item.is_a? StillImage }
  - last_five_related_still_images = related_still_images.last(5).reverse

  - view_class= "related-items-section"
  - view_class= "no-items" if related_still_images.empty?
  #detail-linked-images{:class => view_class}
    %h4
      %a.small{:href => not_implemented_path}
        = "Images (#{related_still_images.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_expanded.gif"}/
    %hr/

    #related_still_image_container
      %ul.results-list.images-list
        - last_five_related_still_images.each do |related_item|
          - small_sq_image_file = related_item.image_files.where(thumbnail: 'small_sq').first
          %li
            %a{:href => url_for(related_item)}
              %img{:alt => related_item.title, :src => small_sq_image_file.public_filename, :size => small_sq_image_file.image_size }/

        - if  related_still_images.count > 5
          - overflow = related_still_images.count - 5
          %li.more
            %a.small{:href => not_implemented_path}=  "#{overflow} more like this &gt;&gt;".html_safe

    #related_items_slideshow.slideshow_div
    :javascript
      new PeriodicalExecuter(function() {if (!$('selected-image-display') || $('selected-image-display-paused')) { return false; }; new Ajax.Updater('related_items_slideshow', '/en/site/topics/selected_image?topic_id=196', {asynchronous:true, evalScripts:true, method:'get', parameters:'authenticity_token=' + encodeURIComponent('Ps6IbOcjoFffSLYTQnToaM/KyNgMlGZwS/TVIRNVLzY=')})}, 15)

    #related_items_slideshow_controls.slideshow_div
      %p.buttons.one_button
        %a#play_slideshow{:href => not_implemented_path}
          %img{:alt => "Play Slideshow. ", :src => "/assets/slideshow_play.gif?1323654851", :title => "Play Slideshow. "}/
    /:javascript
    /  setupRelatedImagesSlideshowPlayButton('/en/site/topics/selected_image?topic_id=196');


.two-col
  
  - related_topics = related_items.select {|related_item| related_item.is_a? Topic }
  - last_five_related_topics = related_topics.last(5).reverse

  - view_class= "related-items-section"
  - view_class= "no-items" if related_topics.empty?
  #detail-linked-topics{:class => view_class}
    %h4
      %a.small{:href => not_implemented_path}
        = "Topics (#{related_topics.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_expanded.gif"}/
    %hr/

    %ul
      - last_five_related_topics.each do |related_item|
        %li
          %a{:href => url_for(related_item)}
            = related_item.title

      - if  related_topics.count > 5
        - overflow = related_topics.count - 5
        %li.more
          %a.small{:href => not_implemented_path}=  "#{overflow} more like this &gt;&gt;".html_safe


  - related_audio_recordings = related_items.select {|related_item| related_item.is_a? AudioRecording }
  - last_five_related_audio_recordings = related_audio_recordings.last(5).reverse

  - view_class= "related-items-section"
  - view_class= "no-items" if related_audio_recordings.empty?
  #detail-linked-audio{:class => view_class}
    %h4
      %a.small{:href => not_implemented_path}
        = "Audio (#{related_audio_recordings.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
    %hr/

    %ul
      - last_five_related_audio_recordings.each do |related_item|
        %li
          %a{:href => url_for(related_item)}
            = related_item.title

      - if  related_audio_recordings.count > 5
        - overflow = related_audio_recordings.count - 5
        %li.more
          %a.small{:href => not_implemented_path}=  "#{overflow} more like this &gt;&gt;".html_safe


  - related_video = related_items.select {|related_item| related_item.is_a? Video }
  - last_five_related_video = related_video.last(5).reverse

  - view_class= "related-items-section"
  - view_class= "no-items" if related_video.empty?
  #detail-linked-video{:class => view_class}
    %h4
      %a.small{:href => not_implemented_path}
        = "Video (#{related_video.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
    %hr/

    %ul
      - last_five_related_video.each do |related_item|
        %li
          %a{:href => url_for(related_item)}
            = related_item.title

      - if  related_video.count > 5
        - overflow = related_video.count - 5
        %li.more
          %a.small{:href => not_implemented_path}=  "#{overflow} more like this &gt;&gt;".html_safe

  %div{:style => "clear:both;"}


.two-col

  - related_documents = related_items.select {|related_item| related_item.is_a? Document }
  - last_five_related_documents = related_documents.last(5).reverse
  
  - view_class= "related-items-section"
  - view_class= "no-items" if related_documents.empty?    
  #detail-linked-documents{:class => view_class}
    %h4
      %a.small{:href => not_implemented_path}
        = "Documents (#{related_documents.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
    %hr/
    
    %ul
      - last_five_related_documents.each do |related_item|
        %li
          %a{:href => url_for(related_item)}
            = related_item.title

      - if  related_documents.count > 5
        - overflow = related_documents.count - 5
        %li.more
          %a.small{:href => not_implemented_path}=  "#{overflow} more like this &gt;&gt;".html_safe


  - related_web_links = related_items.select {|related_item| related_item.is_a? WebLink }
  - last_five_related_web_links = related_web_links.last(5).reverse

  - view_class= "related-items-section"
  - view_class= "no-items" if related_web_links.empty?
  #detail-linked-web_links{:class => view_class}
    %h4
      %a.small{:href => not_implemented_path}
        = "Web links (#{related_web_links.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
    %hr/

    %ul
      - last_five_related_web_links.each do |related_item|
        %li
          %a{:href => url_for(related_item)}
            = related_item.title

      - if  related_web_links.count > 5
        - overflow = related_web_links.count - 5
        %li.more
          %a.small{:href => not_implemented_path}=  "#{overflow} more like this &gt;&gt;".html_safe