-# ROB: This file has been heavily guted, to simplify it. Right now it only displays 
-#      all related content.

%div{ :id => "related_items", :class => related_items_class_from(position, related_items.count), :style => related_items_styles_from(position, related_items.count) }
  %div{:class => "secondary-content-section-wrapper#{class_suffix_from(position)}"}
    %div{:class => "secondary-content-section", :id => "related"}
      .secondary-content-section-content
        -if item.is_a? Topic
          %h2.related-link
            = link_to_related_items_of(item, 'Topic', :link_text => "#{t('topics.related_items.related_items')} (#{related_items.count})")
          = render 'topics/related_items_for_topics', { :related_items => related_items }

        -else 
          %h2.related-link
            = link_to_related_items_of(item, 'Topic', :link_text => "#{t('topics.related_items.related_topics')} (#{related_items.count})")
          = render 'topics/related_items_for_content_items', { :related_items => related_items }


        %div(style="clear:both;")

        = render('topics/related_items_tools', :item => item)

        %div(style="clear:both;")

      .secondary-content-section-footer-wrapper
        .secondary-content-section-footer &nbsp;
