-# ROB: This file has been heavily guted, to simplify it. Right now it only displays 
-#      all related content.

%div{ :id => "related_items", :class => related_items_class_from(position, related_items.count), :style => related_items_styles_from(position, related_items.count) }
  %div{:class => "secondary-content-section-wrapper#{class_suffix_from(position)}"}
    %div{:class => "secondary-content-section", :id => "related"}
      .secondary-content-section-content
        %h2.related-link
          = link_to_related_items_of(item, 'Topic', :link_text => "#{t('topics.related_items.related_topics')} (#{related_items.count})")

        %div{:id => "detail-linked-topics", :class => "related-items-section" }
          %ul
            - related_items.each do |related_item|
              %li
                = link_to related_item.title, topic_path(related_item)
          
        -# ROB: the old code let you print out related items for non-topics (which were devided into two sets):
        -#        ['StillImage']
        -#        ['Topic', 'AudioRecording', 'Video']
        -#        ['Document', 'WebLink']
        -#      We've removed this because it never seemed to be used.
        -#      Most of this logic was in the _removed_ partials _related_items_section.html.haml

        = render('topics/related_items_tools', :item => item)

    .secondary-content-section-footer-wrapper
      .secondary-content-section-footer &nbsp;
