<% if current_user_can_see_add_links? -%>
  <div id="related-items-tools">
    <ul>
      <% cache({ :related => 'related-tools-create-or-link-or-remove', :id => @cache_id }) do -%>
        <%= header_add_links(:relate_to_topic => item, :related_topic_private => (params[:private] && params[:private] == 'true'), :link_text => t('topics.related_items.create'), :class => 'first') -%>
        <%= link_to_related_item_function(:link_text => t('topics.related_items.link_existing'), :function => 'add', :relate_to_topic => item) -%>
        <%= link_to_related_item_function(:link_text => t('topics.related_items.remove'), :function => 'remove', :relate_to_topic => item) -%>
      <% end -%>
      <% if @basket_moderator -%>
        <% cache({ :related => 'related-tools-restore', :id => @cache_id }) do -%>
          <%= link_to_related_item_function(:link_text => t('topics.related_items.restore'), :function => 'restore', :relate_to_topic => item) -%>
        <% end -%>
      <% end -%>
      <% if current_user_can_import_archive_sets? -%>
        <% cache({ :related => 'related-tools-import', :id => @cache_id }) do -%>
          <%= link_to_add_set_of_related_items(:link_text => t('topics.related_items.import_set'), :relate_to_topic => item) -%>
        <% end -%>
      <% end -%>
    </ul>
  </div>
  <div style="clear:both;"></div>
<% end -%>