#detail-linked-toprow

  - related_still_images = related_items.select {|related_item| related_item.is_a? StillImage }
  - last_five_related_still_images = related_still_images[-5..-1]

  #detail-linked-images.related-items-section
    %h4
      %a.small{:href => not_implemented_path}
        = "Images (#{related_still_images.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_expanded.gif"}/
    %hr/

    #related_still_image_container
      %ul.results-list.images-list
        - last_five_related_still_images.each do |related_item|
          - small_sq_image_file = related_item.image_files.where(thumbnail: 'small_sq').first

          %li
            %a{:href => url_for(related_item)}
              /%img{:alt => related_item.title, :src => "http://horowhenua.kete.net.nz/image_files/0000/0008/8227/The_pizza_oven_small_sq.JPG", :width => "50", :height => "50" }/
              %img{:alt => related_item.title, :src => small_sq_image_file.public_filename, :size => small_sq_image_file.image_size }/
              /image_tag image_file.public_filename, :size => image_file.image_size, :alt => "#{still_image.title}. "
        %li.more
          %a.small{:href => not_implemented_path} 4 more like this &gt;&gt;

    #related_items_slideshow.slideshow_div
    :javascript
      new PeriodicalExecuter(function() {if (!$('selected-image-display') || $('selected-image-display-paused')) { return false; }; new Ajax.Updater('related_items_slideshow', '/en/site/topics/selected_image?topic_id=196', {asynchronous:true, evalScripts:true, method:'get', parameters:'authenticity_token=' + encodeURIComponent('Ps6IbOcjoFffSLYTQnToaM/KyNgMlGZwS/TVIRNVLzY=')})}, 15)

    #related_items_slideshow_controls.slideshow_div
      %p.buttons.one_button
        %a#play_slideshow{:href => ""}
          %img{:alt => "Play Slideshow. ", :src => "/assets/slideshow_play.gif?1323654851", :title => "Play Slideshow. "}/
    :javascript
      setupRelatedImagesSlideshowPlayButton('/en/site/topics/selected_image?topic_id=196');


.two-col
  
  - related_topics = related_items.select {|related_item| related_item.is_a? Topic }

  #detail-linked-topics{:class => "related-items-section" }
    %h4
      %a.small{:href => not_implemented_path}
        = "Topics (#{related_topics.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_expanded.gif"}/
    %hr/

    %ul
      - related_topics.each do |related_item|
        %li
          %a{:href => url_for(related_item)}
            = related_item.title


  - related_audio_recordings = related_items.select {|related_item| related_item.is_a? AudioRecording }

  #detail-linked-audio.no-items
    %h4
      %a.small{:href => not_implemented_path}
        = "Audio (#{related_audio_recordings.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
    %hr/


  - related_audio_recordings = related_items.select {|related_item| related_item.is_a? Video }

  #detail-linked-video.no-items
    %h4
      %a.small{:href => not_implemented_path}
        = "Video (#{related_audio_recordings.count})"
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
    %hr/
  %div{:style => "clear:both;"}


.two-col

  - related_documents = related_items.select {|related_item| related_item.is_a? Document }
  
  #detail-linked-documents.no-items
    %h4
      %a.small{:href => not_implemented_path}
        Documents (0)
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
    %hr/


  - related_web_links = related_items.select {|related_item| related_item.is_a? WebLink }

  #detail-linked-web_links.no-items
    %h4
      %a.small{:href => not_implemented_path}
        Web links (0)
        %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
    %hr/
