#detail-linked-toprow

  = render 'topics/related_items_for_topics/still_images', { :related_items => related_items }

.two-col

  = render 'topics/related_items_for_topics/topics', { :related_items => related_items }
  = render 'topics/related_items_for_topics/audio_recordings', { :related_items => related_items }
  = render 'topics/related_items_for_topics/videos', { :related_items => related_items }
  
  %div{:style => "clear:both;"}

.two-col

  = render 'topics/related_items_for_topics/documents', { :related_items => related_items }
  = render 'topics/related_items_for_topics/web_links', { :related_items => related_items }