%tr
  %td
    %h4= t 'topic_types.generic_topic_fields.title'
    %p= t 'topic_types.generic_topic_fields.note'
    %ul
      %li= t 'topic_types.generic_topic_fields.title_field'
      %li= t 'topic_types.generic_topic_fields.short_summary_field'
      %li= t 'topic_types.generic_topic_fields.description_field'
    %p= t 'topic_types.generic_topic_fields.present_in_all'
