- @title = t('topic_types.new.title')
%h2= h(@title)
= form_tag :action => 'create' do
  = render :partial => 'form'
  .wrap= submit_tag t('topic_types.new.create_button')
%table
  = render(:partial => 'generic_topic_fields', :locals => { :local_id => @topic_type.id })
  - # this renders for passed in parent, rather than the new topic
    = render(:partial => 'inherited_fields', :locals => { :parent_id => params[:parent_id] })
= link_to t('topic_types.new.cancel'), :action => 'list'

