<% if show_privacy_controls? %>
  <div class="form-element">
    <label><%=t 'importers.common_import_fields.imported_items_privacy' %></label>
    <ul class="option-list">
      <li>
        <%= radio_button 'import', :private, false, { :id => "import_private_false", :checked => !@current_basket.private_default? } %>
        <label for="import_private_false" class="privacy-label"><%=t 'importers.common_import_fields.public' %></label>
        <%=t 'importers.common_import_fields.public_description' %>
      </li>
      <li>
        <%= radio_button 'import', :private, true, { :id => "import_private_true", :checked => @current_basket.private_default? } %>
        <label for="import_private_true"><%=t 'importers.common_import_fields.private' %></label>
        <%=t 'importers.common_import_fields.private_description' %>
      </li>
    </ul>
    <div class="form_example"><%=t 'importers.common_import_fields.imported_items_privacy_example' %></div>
  </div>

  <div class="form-element" id="import_file_private"<%= " style=\"display: none;\"" unless params[:relate_to_topic] .present? -%>>
    <label><%=t 'importers.common_import_fields.imported_items_file_privacy' %></label>
      <ul class="option-list">
        <li>
          <%= radio_button 'import', :file_private, false, { :id => "import_file_private_false", :checked => !@current_basket.file_private_default_with_inheritance? } %>
          <label for="import_file_private_false" class="privacy-label"><%=t 'importers.common_import_fields.downloaded_by_everyone' %></label>
	</li>
	<li>
          <%= radio_button 'import', :file_private, true, { :id => "import_file_private_true", :checked => @current_basket.file_private_default_with_inheritance? } %>
          <label for="import_file_private_true"><%=t('importers.common_import_fields.downloaded_by_role',
						   :role_name => @current_basket.private_file_visibility_with_inheritance) %></label>
	</li>
      </ul>
      <div class="form_example"><%=t 'importers.common_import_fields.imported_items_file_privacy_example' %></div>
  </div>
<% end %>

<div class="form-element">
  <label for="import_base_tags"><%=t 'importers.common_import_fields.tags' %></label>
  <%= form.text_field :base_tags %>
  <div class="form_example"><%=t 'importers.common_import_fields.tags_description' %></div>
</div>

<div class="form-element">
  <label for="import_description_beginning_template"><%=t 'importers.common_import_fields.description_template_start' %></label>
  <%= form.text_area :description_beginning_template, :class => "mceEditor", :cols => 120, :rows => 10 %>
  <div class="form_example"><%=t 'importers.common_import_fields.description_template_start_description' %></div>
</div>

<div class="form-element">
  <label for="import_default_description_end_template"><%=t 'importers.common_import_fields.description_template_end' %></label>
  <%= form.text_area :default_description_end_template, :class => "mceEditor", :cols => 120, :rows => 10 %>
  <div class="form_example"><%=t 'importers.common_import_fields.description_template_end_description' %></div>
</div>

<%= render('topics/license_chooser_or_agreement', :item => @import) if licenses_are_available? %>
