<% @title = t('importers.choose_contributing_user.title') -%>

<h4><%= @title -%></h4>

<% if @potential_contributing_users.size > 0 %>
  <% form_tag(:action => params[:target]) do %>
    <%= hidden_field_tag('relate_to_topic', params[:relate_to_topic]) if params[:relate_to_topic].present? %>
    <%= select_tag('contributing_user', options_for_select(@user_options)) %>
    <%= submit_tag t('importers.choose_contributing_user.choose') %>
  <% end -%>
<% else %>
  <p><%=t 'importers.choose_contributing_user.no_user_found' %></p>
<% end %>

<%= link_to_cancel %>
