<% @title = 'Choose Contributing User' -%>

<h4><%= @title -%></h4>

<% if @potential_contributing_users.size > 0 %>
<% form_tag :action => params[:target] do -%>

<%= hidden_field_tag('relate_to_topic', params[:relate_to_topic]) unless params[:relate_to_topic].blank?%>
<%= hidden_field_tag('zoom_class', params[:zoom_class]) unless params[:zoom_class].blank?%>

<%= select_tag('contributing_user', options_for_select(@user_options)) %>
<%= submit_tag "Choose" %>
<% end -%>
<% else %>
<p>No potential contributing user found.</p>
<% end %>

<%= link_to_cancel %>
