<% if params[:related_topic].blank?
     location = @import.directory
   else
     location = @import.import_archive_file.filename
   end
   @title = t('importers.create.title', :location => location)
%>

<%= render(:partial => "baskets/actions_menu",
           :locals => { :item => @current_basket }) %>

<%= render :partial => "topics/content_wrapper_start" %>

<h2><%= @title -%></h2>

<%= periodically_call_remote(:url => {:action => 'get_progress',
:worker_type => @worker_type, :related_topic => params[:related_topic]}, :frequency => 30) %>

<div id="report_records_processed"><%=t 'importers.create.starting_import' %></div>

<div id="spinner">
<img src="/images/indicator.gif" width="16" height="16" alt="<%=t 'importers.create.completed' %>">
</div>

<div id="done"><%=t 'importers.create.in_progress' %></div>

<div id="exit">
  <%= button_to t('importers.create.stop_early'), :action => 'stop', :id => @import, :worker_type => @worker_type %>
</div>

<%= render(:partial => "topics/content_wrapper_end" ) %>
