<% @title = t('importers.list.title') -%>

<%= render(:partial => "baskets/actions_menu",
           :locals => { :item => @current_basket }) %>

<%= render :partial => "topics/content_wrapper_start" %>

<h2><%= h(@title) -%></h2>
<p><%=t 'importers.list.description' %></p>

<% if @imports.blank? %>
<p><%=t 'importers.list.no_past_imports' %></p>
<% else %>
<table class="history-table">
  <tr>
    <th abbr="Folder"><%=t 'importers.list.folder' %></th>
    <th abbr="Started"><%=t 'importers.list.started' %></th>
    <th abbr="Type"><%=t 'importers.list.type' %></th>
    <th abbr="User"><%=t 'importers.list.user' %></th>
    <th abbr="Status"><%=t 'importers.list.status' %></th>
    <th abbr="Processed"><%=t 'importers.list.records_processed' %></th>
  </tr>
  <% for import in @imports %>
  <tr>
    <td>
      <%= h(import.directory_name) %>
    </td>
    <td>
      <%= import.created_at.to_s(:euro_date_time) %>
    </td>
    <td>
      <%= h(import.xml_type) %>
    </td>
    <td><%= link_to_contributions_of(import.user,'Topic') -%></td>
    <td>
      <%= import.status %> <%=t 'importers.list.as_of' %>
      <%= import.updated_at.to_s(:euro_date_time) %>
    </td>
    <td>
      <%= import.records_processed %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<p><%= link_to t('importers.list.start_new'), :action => 'new' -%></p>

<div id="prev-next"><%=  will_paginate @imports %></div>

<%= render(:partial => "topics/content_wrapper_end" ) %>
