<% @title = t('importers.new.title') -%>

<%= render(:partial => "baskets/actions_menu",
           :locals => { :item => @current_basket }) %>

<%= render :partial => "topics/content_wrapper_start" %>

<h2><%= h(@title) -%></h2>

<h3><%=t 'importers.new.conventions_note' %></h3>

<ul>
  <li><p><%=t 'importers.new.records_xml_description' %></p></li>
  <li><p><%=t 'importers.new.topic_type' %></p></li>
  <li><p><%=t 'importers.new.extended_fields' %></p></li>
  <%= embedded_enabled_message("<li><p>#{t('importers.new.metadata')} ", '</p></li>') %>
  <li><p><%=t 'importers.new.mapping_fields' %></p></li>
  <li><p><%=t 'importers.new.description_template' %></p></li>
  <li><p><%=t 'importers.new.structure_description' %></p></li>
  <ul>
    <li><%=t 'importers.new.folder_name' %></li>
    <ul>
      <li><%=t 'importers.new.records_xml_file' %></li>
      <li><%=t 'importers.new.images_folder' %></li>
      <li><%=t 'importers.new.accessions_xml' %></li>
    </ul>
  </ul>
  <li><p><%=t 'importers.new.place_in_imports_folder' %></p></li>
  <li><p><%=t 'importers.new.transfer_is_done_manually' %></p></li>
</ul>

<h3><%=t 'importers.new.fill_in_form' %></h3>

<fieldset>
  <% if @site_admin -%>
  <%= render :partial => "contributing_user_form" %>
  <% else -%>
  <% @contributing_user = @current_user -%>
  <% end -%>

<% form_for :import,
            :url => { :action => 'create'},
            :html => { :multipart => true } do |form| %>

  <%= error_messages_for 'import' %>

  <%= hidden_field_tag 'import[basket_id]', @current_basket.id %>
  <%= hidden_field_tag 'import[user_id]', @contributing_user.id %>

  <div class="form-element">
    <label for="import_directory"><%=t 'importers.new.what_is_folder_name' %></label>
    <%= form.text_field :directory %>
  </div>

  <div class="form-element">
    <label class="required" for="import_interval_between_records"><%=t 'importers.new.delay_between_records' %></label>
    <%= form.text_field :interval_between_records, :size => 3 %>
    <div class="form_example"><%=t 'importers.new.delay_between_records_explaination' %></div>
  </div>

  <% @type_options = [[t('importers.new.excel_based'), 'excel_based'],
     [t('importers.new.past_perfect'), 'past_perfect4'],
     [t('importers.new.filemaker_pro'), 'fmpdsoresult_no_images'],
     [t('importers.new.simple_xml'), 'simple_topic']
     ] -%>

  <div class="form-element">
    <label class="required" for="import_xml_type"><%=t 'importers.new.import_type' %></label>
    <%= form.select :xml_type, @type_options %>
  </div>

  <div class="form-element" style="display:none" id="import_xml_path">
    <label for="import_xml_path_to_record"><%=t 'importers.new.xml_path_to_records' %></label>
    <%= form.text_field :xml_path_to_record %>
    <div class="form_example"><%=t 'importers.new.xml_path_to_records_description' %></div>
  </div>

  <div class="form-element" id="import_topic_type" style="display:none">
    <label for="import_topic_type_id"><%=t 'importers.new.applicable_topic_type' %></label>
    <%= topic_type_select_with_indent('import', 'topic_type_id', TopicType.find(1).full_set, :id, :name, {:class=>"select"}) %>
    <div class="form_example"><%=t 'importers.new.applicable_topic_type_description' %></div>
  </div>

  <div class="form-element" id="zoom">
    <label for="zoom_class"><%= t 'importers.new.applicable_zoom_class'  -%></label>
    <%= select_tag 'zoom_class', attachable_classes_as_options, { :id => 'zoom_class', :tabindex => '1' } %>
    <div class="form_example"><%=t 'importers.new.applicable_zoom_class_description' -%></div>
  </div>

  <%= xml_type_js_observer -%>

  <% if show_privacy_controls? %>
    <div class="form-element">
      <label><%=t 'importers.new.default_privacy_setting' %></label>
      <ul class="option-list">
        <li><%= radio_button 'import', :private, false, { :id => "import_private_false" }.merge((@current_basket.private_default?) ? Hash.new : { "checked" => "checked" }) %><label for="import_private_false" class="privacy-label"><%=t 'importers.new.public' %></label> <%=t 'importers.new.public_description' %></li>
        <li><%= radio_button 'import', :private, true, { :id => "import_private_true" }.merge((@current_basket.private_default?) ? { "checked" => "checked" } : Hash.new) %><label for="import_private_true"><%=t 'importers.new.private' %></label> <%=t 'importers.new.private_description' %></li>
      </ul>
    </div>
    <div class="form-element">
      <%= privacy_controls_description -%>
    </div>
  <% else %>
    <%# Use the default %>
    <%= hidden_field 'import', :private, :value => false -%>
  <% end %>

  <div class="form-element">
    <label for="import_base_tags"><%=t 'importers.new.tags' %></label>
    <%= form.text_field :base_tags %>
    <div class="form_example"><%=t 'importers.new.tags_description' %></div>
  </div>

  <div class="form-element">
    <label for="import_description_beginning_template"><%=t 'importers.new.description_template_start' %></label>
    <%= form.text_area :description_beginning_template, :class => "mceEditor", :cols => 120, :rows => 10 %>
    <div class="form_example"><%=t 'importers.new.description_template_start_description' %></div>
  </div>

  <div class="form-element">
    <label for="import_default_description_end_template"><%=t 'importers.new.description_template_end' %></label>
    <%= form.text_area :default_description_end_template, :class => "mceEditor", :cols => 120, :rows => 10 %>
    <div class="form_example"><%=t 'importers.new.description_template_end_description' %></div>
  </div>

  <% if licenses_are_available? -%>
    <h3><%=t 'importers.new.license' %></h3>
    <%= render :partial => 'topics/license_chooser_or_agreement',:locals => {:item => Import.new} %>
  <% end -%>

  <div class="form-element">
    <%= submit_tag t('importers.new.import_button') %>
  </div>

</fieldset>
<% end %>

<%= render(:partial => "topics/content_wrapper_end" ) %>
