<% @title = 'New Import' -%>

<%= render(:partial => "baskets/actions_menu",
           :locals => { :item => @current_basket }) %>

<%= render :partial => "topics/content_wrapper_start" %>

<h2><%= h(@title) -%></h2>

<h3>Before you start your import please consult your Import Type's
  documentation and make sure you follow the correct steps.</h3>

<fieldset>
  <% if @site_admin -%>
  <%= render :partial => "contributing_user_form" %>
  <% else -%>
  <% @contributing_user = @current_user -%>
  <% end -%>

<% form_for :import,
            :url => { :action => 'create'},
            :html => { :multipart => true } do |form| %>

  <%= error_messages_for 'import' %>

  <%= hidden_field_tag 'import[basket_id]', @current_basket.id %>
  <%= hidden_field_tag 'import[user_id]', @contributing_user.id %>

  <div class="form-element">
    <label for="import_directory">What is the name of
      your folder under the imports directory?</label>
    <%= form.text_field :directory %>
  </div>

  <div class="form-element">
    <label class="required" for="import_interval_between_records">How
    long should we wait in seconds between processing records?</label>
    <%= form.text_field :interval_between_records, :size => 3 %>
    <div class="form_example">To protect against an import
    overwhelming your server's resources and affecting the response
    time of your website, we recommend an interval
    between processing each record.  If your server has a lot of
    computing power, feel free to lower this number or even put in '0'.
    </div>
  </div>


  <% @type_options = [['Excel based', 'excel_based'],
     ['Past Perfect 4', 'past_perfect4'],
     ['Filemaker Pro\'s FMPDSORESULT XML format (text records only, no associated images)', 'fmpdsoresult_no_images'],
     ['Simple XML Topics', 'simple_topic']] -%>

  <div class="form-element">
    <label class="required" for="import_xml_type">Import Type?</label>
    <%= form.select :xml_type, @type_options %>
  </div>

  <%# Walter McGinnis, 2009-09-11, excel based bulk import patch - backported from 1.3 -%>
  <div class="form-element"  style="display:none" id="import_xml_path">
    <label for="import_xml_path_to_record">XML Path
    to Record (only
    applicable to Simple XML Topics type):</label>
    <%= form.text_field :xml_path_to_record %>
    <div class="form_example">What is the XML element path that specifies
      each record? For example 'Root/Record'.  For RSS 2.0, this would be 'rss/channel/item'.
    </div>
  </div>

  <%# Walter McGinnis, 2009-09-11, excel based bulk import patch -  backported from 1.3 -%>
  <div class="form-element" id="zoom">
    <label for="zoom_class">Applicable Item Type?</label>
    <%= select_tag 'zoom_class', item_classes_as_options, { :id => 'zoom_class', :tabindex => '1' } %>
    <div class="form_example">If this is an Excel based import, than what type of item of item should we create per row?</div>
  </div>

  <%# Walter McGinnis, 2009-09-11, excel based bulk import patch - backported from 1.3 -%>
  <div class="form-element" id="import_topic_type">
    <label for="import_topic_type_id">Applicable Topic
      Type?</label>
    <%= topic_type_select_with_indent('import', 'topic_type_id', TopicType.find(1).full_set, :id, :name, {:class=>"select"}) %>
    <div class="form_example">If this is an image import, such as
      Past Perfect, than what's the name of the Topic Type of the
      new topic for groups of
      related items (e.g. 'Archive', 'Collection', 'Album')?
      If this is a text only import such as FMPDSORESULT, than
      this is the Topic Type of new topic that is created.
    </div>
  </div>

  <%= xml_type_js_observer -%>
  <%= zoom_class_js_observer -%>

  <% if show_privacy_controls? %>
    <div class="form-element">
      <label>Default Privacy Setting</label>
      <ul class="option-list">
        <li><%= radio_button 'import', :private, false, { :id => "import_private_false" }.merge((@current_basket.private_default?) ? Hash.new : { "checked" => "checked" }) %><label for="import_private_false" class="privacy-label">Public</label> (Can be viewed by everyone)</li>
        <li><%= radio_button 'import', :private, true, { :id => "import_private_true" }.merge((@current_basket.private_default?) ? { "checked" => "checked" } : Hash.new) %><label for="import_private_true">Private</label> (Can be viewed only by basket members)</li>
      </ul>
    </div>
    <div class="form-element">
      <%= privacy_controls_description -%>
    </div>
  <% else %>
    <%# Use the default %>
    <%= hidden_field 'import', :private, :value => false -%>
  <% end %>

  <div class="form-element">
    <label for="import_base_tags">What tags should
    we add to each imported item (separated by commas)?</label>

    <%= form.text_field :base_tags %>

    <div class="form_example">These tags will be added to every item
    in the import in addition to whatever is specified as a tag per record.
    </div>

  </div>

  <div class="form-element">
    <label for="import_description_beginning_template">Beginning Description Template</label>

    <%= form.text_area :description_beginning_template, :class => "mceEditor", :cols => 120, :rows => 10 %>

    <div class="form_example">A piece of HTML that will go at the
    start of every description during this import.
    </div>
  </div>

  <div class="form-element">
    <label for="import_default_description_end_template">End
    Description Template (good for including an attribution)</label>

    <%= form.text_area :default_description_end_template, :class => "mceEditor", :cols => 120, :rows => 10 %>

    <div class="form_example">Should we append an piece of text
      formatted in HTML to the end of the description of each piece of content that is
      created during this import?  An example would be "&lt;p&gt;Any use of this image must be
      accompanied by the credit 'Horowhenua Historical Society
      Inc.'&lt;\p&gt;".  Useful for including an attribution for the
      source of the imported item.
    </div>
  </div>

  <% if licenses_are_available? -%>
  <h3>You may also choose to have all imported items be under one of these licenses.</h3>
  <%= render :partial => 'topics/license_chooser_or_agreement',:locals => {:item => Import.new} %>
  <% end -%>

  <div class="form-element">
    <%= submit_tag 'Import' %>
  </div>

</fieldset>
<% end %>

<%= render(:partial => "topics/content_wrapper_end" ) %>
