<% @title = t('importers.new_related_set_from_archive_file.title', :related_topic_title => @related_topic.title) -%>

<%= render 'topics/content_wrapper_start', :style_classes => "notabs" %>

<h2><%= h(@title) -%></h2>

<h3><%=t 'importers.new_related_set_from_archive_file.uploading_note' %></h3>

<ul>
  <li><p><%=t 'importers.new_related_set_from_archive_file.folder_containing_items' %></p></li>
  <li><p><%=t 'importers.new_related_set_from_archive_file.archive_limit', :size => number_to_human_size(MAXIMUM_UPLOADED_FILE_SIZE) %></p></li>
  <%= embedded_enabled_message('<li><p>', '</p></li>') %>
  <li>
    <% if ENABLE_EMBEDDED_SUPPORT -%>
    <p>
      <%=t 'importers.new_related_set_from_archive_file.title_from_metadata' %>
      <blockquote><%= TITLE_SYNONYMS.to_a.to_sentence -%></blockquote>
      <strong><%=t 'importers.new_related_set_from_archive_file.title_from_metadata_or' %></strong>
    </p>
    <% end -%>
    <p><%=t 'importers.new_related_set_from_archive_file.title_from_filename' %></p>
    <p><%=t 'importers.new_related_set_from_archive_file.edit_after_import' %></p>
  </li>
</ul>

<%= render 'contributing_user_form' if @site_admin %>

<% form_for :import, :url => { :action => 'create' }, :html => { :multipart => true } do |form| %>
  <fieldset>

    <%= error_messages_for 'import' %>
    <%= error_messages_for 'import_archive_file' %>

    <%= hidden_field_tag 'contributing_user', params[:contributing_user] %>
    <%= hidden_field_tag 'related_topic', @related_topic.id %>

    <div class="form-element">
      <label for="zoom_class"><%=t 'importers.new_related_set_from_archive_file.whats_the_upload' %></label>
      <%= select_tag 'zoom_class', attachable_classes_as_options, { :id => 'zoom_class', :tabindex => '1' } %>
    </div>

    <%= render 'common_import_fields', :form => form %>

    <% fields_for @import.import_archive_file do |archive_file| %>
      <div class="form-element">
        <label for="import_archive_file_uploaded_data"><%=t 'importers.new_related_set_from_archive_file.upload' %></label><br />
        <%= archive_file.file_field :uploaded_data %>
      </div>
    <% end %>

    <div class="form_example">
      <%=t 'importers.new_related_set_from_archive_file.upload_description' -%>
    </div>

    <div class="form-element">
      <%= submit_tag t('importers.new_related_set_from_archive_file.add_related') %>
    </div>

  </fieldset>
<% end %>

<%= render 'topics/content_wrapper_end' %>
