<% @title = 'Add related set of items to ' +  @related_topic.title + ' from uploaded archive file' -%>

<%= render :partial => "topics/content_wrapper_start", :locals => { :style_classes => "notabs" } %>

<h2><%= h(@title) -%></h2>

<h3>Some things to keep in mind when uploading a batch of
  related items in a .zip, .tar, .gz, or other
  archive file:</h3>

<ul>
  <li><p>The archive file should be of a folder containing the items to
  be added.  Please do not uses spaces in the folder name and name the
  archive file after the folder.  For example "the_images" folder
  would become the "the_images.zip" archive file.</p></li>
  <li><p>The largest archive file you may upload is
  <%= number_to_human_size(MAXIMUM_UPLOADED_FILE_SIZE) -%>.  You may want to scale down
  your <%= @zoom_class_plural_humanized -%> to be more reasonable
  sized to add to the site and recreate your archive file.</p></li>

  <%= embedded_enabled_message('<li><p>', '</p></li>') %>

  <li><% if ENABLE_EMBEDDED_SUPPORT -%><p>If the title is in an item's
  embedded metadata it will be used as long as it is labeled "Title"
  or one of the following:
      <blockquote><%= TITLE_SYNONYMS.to_a.to_sentence -%></blockquote>
  <strong>OR</strong></p><% end -%><p>The title for the uploaded items
  will be based on the file's name as it was before it was added
  to the compressed archive file.  If you want a different title for
  the items you may to rename the file in
  question and recreate the archive file before you proceed.</p>
  <p><strong>IMPORTANT NOTE: please do not use spaces in file names,
  use an underscore instead.  "_" will be replaced with a space in
  the final title for the item.</strong></p>
  <p><strong>IMPORTANT NOTE: please do not use &amp; in file names,
  use an "and" instead.  Items with ampersands in filenames will not
  be added.</strong></p>
  <p>Alternatively, you may also edit any uploaded items' title or
  other details after it has been added to the site.</p></li>

</ul>

<fieldset>

  <% if @site_admin -%>
  <%= render :partial => "contributing_user_form" %>
  <% else -%>
  <% @contributing_user = @current_user -%>
  <% end -%>

  <% form_for :import,
            :url => { :action => 'create'},
            :html => { :multipart => true } do |form| %>

  <%= error_messages_for 'import' %>
  <%= error_messages_for 'import_archive_file' %>

  <%= hidden_field_tag 'import[directory]', Time.now.utc.xmlschema %>
  <%= hidden_field_tag 'import[basket_id]', @current_basket.id %>
  <%= hidden_field_tag 'import[user_id]', @contributing_user.id %>
  <%= hidden_field_tag 'import[interval_between_records]', @import.interval_between_records %>
  <%= hidden_field_tag 'related_topic', @related_topic.id %>

  <div class="form-element">
    <label for="zoom_class">What are you uploading?</label>
    <% options = Array.new
    ATTACHABLE_CLASSES.each do |item_class_name|
      selected = (@zoom_class_name == item_class_name) ? " selected='selected'" : ''
      options << "<option value='#{item_class_name}'#{selected}>#{zoom_class_plural_humanize(item_class_name)}</option>"
    end -%>
    <%= select_tag 'zoom_class', options.join('') -%>
  </div>

  <div class="form-element">
    <label for="import_base_tags">What tags should
    we add to each imported item (separated by commas,
    no &amp;s allowed in tags.)?</label>

    <%= form.text_field :base_tags %>

    <div class="form_example">This is a good way to group things (by
    subject or category) so
    that they can be found later, for example, if had a series of
    photos of my home, I might use 'Island Bay,
    Wellington, New Zealand'.
    </div>

  </div>

  <div class="form-element">
    <label for="import_default_description_end_template">
    Description Template (good for including an attribution)</label>

    <%= form.text_area :default_description_end_template, :class => "mceEditor", :cols => 120, :rows => 10 %>

    <div class="form_example">Should we append an piece of text
      formatted in HTML to the end of the description of each piece of content that is
      created during this import?  An example would be "&lt;p&gt;Any use of this image must be
      accompanied by the credit 'Horowhenua Historical Society
      Inc.'&lt;\p&gt;".  Useful for including an attribution for the
      source of the added items.
    </div>
  </div>

  <% if licenses_are_available? -%>
  <h3>You may also choose to have all imported items be under one of these licenses.</h3>
  <%= render :partial => 'topics/license_chooser_or_agreement',:locals => {:item => Import.new} %>
  <% end -%>

  <% fields_for @import.import_archive_file do |archive_file| %>
  <div class="form-element"><label for="import_archive_file_uploaded_data">Upload Archive file:</label><br/>
    <%= archive_file.file_field :uploaded_data %>
  <% end %>

  <div class="form_example">A .zip, .tar, or .tar.gz file that
    contains all the Items.</div>
  </div>

  <div class="form-element">
    <%= submit_tag 'Add Related Items' %>
  </div>

</fieldset>
<% end %>

<%= render(:partial => "topics/content_wrapper_end" ) %>
