= render(:partial => "topics/actions_menu", :locals => { :item => @document }) if current_user_can_see_action_menu?

#content-wrapper{class: (defined?(style_classes) ? style_classes : '')}
  = render "basket_navigation_menu" if show_basket_list_naviation_menu?

  #main-content-wrapper
    #main-content-container
      %a{:name => "main-content"}
      %h2= h(@document.title)

      = extras_after_title_headline
      %p
        %b= @document.short_summary

      = render(:partial => "topics/related_items", :locals => { :item => @document, :related_items => @related_item_topics, :position => 'inset' }) if @document.related_items_position == 'inset'

      = render(:partial => "details", :locals => { :item => @document }) if show_attached_files_for?(@document)

      %p= @document.description.html_safe
      = pending_review(@document)

      = render(:partial => "topics/extended_fields", :locals => { :item => @document, :embedded => true })
      %div{:style => "clear:both;"}
      = render(:partial => "topics/contributors" , :locals => { :item => @document }) if current_user_can_see_contributors?
      = render(:partial => "topics/related_items", :locals => { :item => @document, :related_items => @related_item_topics, :position => 'below' }) if @document.related_items_position == 'below'
      = render(:partial => "topics/discussion" , :locals => { :item => @document }) if current_user_can_see_discussion?

  #secondary-content-wrapper
    = render(:partial => "topics/tags_div" , :locals => { :item => @document })
    = render(:partial => "topics/related_items", :locals => { :item => @document, :related_items => @related_item_topics, :position => 'sidebar' }) if @document.related_items_position == 'sidebar'
    = render(:partial => "topics/extended_fields" , :locals => { :item => @document, :embedded => false })
    = display_search_sources_for(@document)
    = render(:partial => "topics/license" , :locals => { :item => @document })
