<% if @type != 'categories'
     @title = t('tags.list.title')
   else
     @title = @type.capitalize
   end
-%>

<div id="content-tabs">
  <%= render :partial => "tags/tag_order_buttons" -%>
</div>

<%= render :partial => "topics/content_wrapper_start" %>

<h2>
  <%= @title -%>
  <img src="/images/indicator.gif" width="16" height="16" alt="<%=t 'tags.list.retrieving_tags' %>" id="data_spinner" style="display:none;" />
</h2>

<div id="tags_list">
  <%= render :partial => 'tags/tags_list', :locals => { :tags => @tags } -%>
</div>

<%= render(:partial => "topics/content_wrapper_end" ) %>
