<p>
  <%= link_to image_tag(selected_image_file.public_filename,
                        :size => selected_image_file.image_size,
                        :alt => "#{selected_still_image.title}. "),
              :action => 'show',
              :urlified_name => selected_still_image.basket.urlified_name,
              :controller => 'images',
              :id => selected_still_image  -%>
</p>

<% unless previous_url.blank? && next_url.blank? -%>
  <p>
    <% unless previous_url.blank? -%>
      <%= link_to_remote(image_tag('icon_results_previous_off.gif',
                                   :title => t('index_page.selected_image.previous_image'),
                                   :alt => t('index_page.selected_image.previous_image')),
                         :update => 'selected-image-display',
                         :method => 'get',
                         :url => previous_url,
                         :href => url_for(:action => ((params[:controller] == 'topics') ? 'show' : 'index'))) -%>
    <% end -%>

    <% if params[:controller] == 'topics' %>
      <a id="stop_slideshow" href="">
        <%= image_tag 'slideshow_stop.png',
                      :title => t('topics.related_items_section.stop_slideshow'),
                      :alt => t('topics.related_items_section.stop_slideshow') %>
      </a>
      <%= javascript_tag("setupRelatedImagesSlideshowStopButton();") %>
    <% end -%>

    <% unless next_url.blank? -%>
      <%= link_to_remote(image_tag('icon_results_next_off.gif',
                                   :title => t('index_page.selected_image.next_image'),
                                   :alt => t('index_page.selected_image.next_image')),
                         :update => 'selected-image-display',
                         :method => 'get',
                         :url => next_url,
                         :href => url_for(:action => ((params[:controller] == 'topics') ? 'show' : 'index'))) -%>
    <% end -%>
  </p>
<% end -%>
