<h3><%=t 'configure.link_to_site.title' %></h3>

<% if @site_listing.blank? -%>

  <div id="send_information">
    <div id="top_message">
      <p>
        <%=t 'configure.link_to_site.description' %>
      </p>
    </div>

    <% form_remote_tag ( :url => { :action => 'send_information' },
                         :before => "Element.hide('form_fields'); Element.show('spinner')",
                         :href => url_for( :action => 'send_information' ) ) do -%>
      <div id="form_fields">
        <div id="linking_errors"></div>
        <p>
          <label for="site_description"><%=t 'configure.link_to_site.site_description' %> <small><%=t 'configure.link_to_site.site_fields_optional' %></small></label><br />
          <input type="text" id="site_description" name="site_description" size="45" />
        </p>
        <p>
          <label for="site_publisher_address"><%=t 'configure.link_to_site.site_publisher_address' %> <small><%=t 'configure.link_to_site.site_fields_optional' %></small></label><br />
          <input type="text" id="site_publisher_address" name="site_publisher_address" size="45" /><br />
          <small><%=t 'configure.link_to_site.site_publisher_address_description' %></small>
        </p>
        <div><%= submit_tag t('configure.link_to_site.send_information'), :id => 'data-button' -%></div>
      </div>
    <% end -%>
  </div>

  <div id="updater"></div>

  <div id="spinner" style="display:none;">
    <img src="/images/indicator.gif" width="16" height="16" alt="<%=t 'configure.link_to_site.completed' %>">
  </div>

<% else -%>

  <div id="site_is_listed">
    <%=t 'configure.link_to_site.already_listed', :listing_link => link_to(@site_listing, @site_listing) %>
  </div>

<% end -%>
