%div{:id => h(@section)}
  %fieldset
    = form_tag({ :action => 'update', :section => @section }, :remote => true) do
      - for @setting in @settings
        - if @setting.name != 'Is Configured' and (@advanced or !@setting.technically_advanced)
          = render partial: 'shared/model_errors', model: @setting
          .form-element
            <label
            - if @setting.required_to_be_configured
              class="required"
            for="@setting">#{h(@setting.name)}:
            %br/
            = fields_for "setting[]" do |f|
              = f.text_field :value
              .form_example
                = Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@setting.explanation)
        - else
          = fields_for "setting[]" do |f|
            = f.hidden_field :value
      %p
        = submit_tag t('configure.section.save')
        = link_to_close_redbox t('configure.section.cancel') if SystemSetting.is_configured?
