<% if ENABLE_USER_PORTRAITS || ENABLE_GRAVATAR_SUPPORT -%>
  <img src="/images/indicator.gif" width="16" height="16" alt="<%=t 'account.avatar_updater.fetching_avatar' %>" id="user_avatar_spinner" style="display:none;" />
  <table id="user_avatar_updater_table">
  <tr>
    <td id="user_avatar_img">
      <% options = { :width => 30, :height => 30, :alt => t('account.avatar_updater.your_avatar') } -%>
      <% if !current_user.nil? && current_user != :false -%>
        <%= avatar_for(current_user, options) -%>
      <% else -%>
        <%= image_tag('no-avatar.png', options) -%>
      <% end -%>
    </td>
    <td>
      <% if ENABLE_USER_PORTRAITS -%>
        <% if !current_user.nil? && current_user != :false -%>
          <%=t 'account.avatar_updater.add_avatar',
               :profile_link => link_to(t('account.avatar_updater.profile_link'), :action => 'show') %>
        <% else %>
          <%=t 'account.avatar_updater.add_avatar_after_signup' %>
        <% end -%>
      <% end -%>
      <% if ENABLE_GRAVATAR_SUPPORT -%>
        <%=t 'account.avatar_updater.gravatar_link', :gravatar_link => '<a href="http://gravatar.com/">Gravatar</a>' %>
      <% end -%>
    </td>
  </tr>
  </table>
  <%= avatar_updater_js if ENABLE_GRAVATAR_SUPPORT -%>
<% end -%>
