- @title = t('account.change_password.title')
%h2= h(@title)
= form_tag do
  %fieldset
    %p
      %label{:for => "old_password"}= t 'account.change_password.old_pass'
      %br/
      = password_field_tag 'old_password', @old_password, :tabindex => '1'
    %p
      %label{:for => "password"}= t 'account.change_password.new_pass'
      %br/
      = password_field_tag 'password', nil, :tabindex => '1'
    %p
      %label{:for => "password_confirmation"}= t 'account.change_password.confirm_pass'
      %br/
      = password_field_tag 'password_confirmation', nil, :tabindex => '1'
  %p= submit_tag t('account.change_password.button'), :tabindex => '1'

