- @title = t('account.forgot_password.title')
%h2= h(@title)
= form_for :user, :url => { :action => "forgot_password" } do |form|
  %fieldset
    .form-element
      - if @users.blank? && (params[:user].blank? || params[:user][:email].blank?)
        %label{:for => "user_email"}= t 'account.forgot_password.email'
        = form.text_field :email, { :size => 50, :tabindex => '1' }
      - else
        = form.hidden_field :email, { :value => params[:user][:email] }
        %label{:for => "user_login"}= t 'account.forgot_password.login'
        = form.text_field :login, { :tabindex => '1' }
  .wrap
    = submit_tag t('account.forgot_password.button'), :tabindex => '1'
= render(:partial => "topics/content_wrapper_end" )
