<fieldset>

  <div class="form-element">
    <label for="contact_subject"><%=t 'email.contact_form.subject' %></label>
    <%= text_field_tag 'contact[subject]', (params[:contact][:subject] unless params[:contact].nil?), :id => "contact_subject" %>
  </div>

  <div class="form-element">
    <label for="contact_message"><%=t 'email.contact_form.message' %></label>
    <%= text_area_tag 'contact[message]', (params[:contact][:message] unless params[:contact].nil?), :id => "contact_message", :rows => 10, :cols => 10, :style => "width:500px;" %>
  </div>

  <p><%=t 'email.contact_form.email_shared' %></p>

</fieldset>
