<% @title = t('email.contact.title', :recipient => @recipient_name) -%>

<h2><%= @title -%></h2>

<% form_tag :action => 'send_email', :id => (!@user.nil? ? @user : nil) do -%>
  <%= render :partial => 'email/contact_form' -%>
  <div style="margin:0; padding:0;">
    <%= submit_tag t('email.contact.send'), :class => "save-button" %>
  </div>
<% end %>

<%= link_to_cancel %>

<%= render(:partial => "topics/content_wrapper_end" ) %>
