<% if !item.file_private? || ( permitted_to_view_private_items? && params[:private] == "true" ) -%>
	<p>Filename: <%= item.filename %>
	  (<%= link_to_original_of item, 'listen' -%>)
	</p>

	<p>Size: <%= number_to_human_size(item.size) %></p>
	<p>Recording type: <%= item.content_type %></p>
<% else -%>
	<p>Filename: <%= item.filename %> ( not available for download )</p>
<% end -%>
