-if related_topics.empty?
  - visible_class = "no-items"
-else
  - visible_class = "related-items-section"

#detail-linked-topics{:class => visible_class}
  %h4
    %a.small{:href => not_implemented_path}
      = "Topics (#{related_topics.count})"
      %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif"}/
  %hr/

  %ul
    - last_five_related_topics = related_topics.last(5).reverse

    - last_five_related_topics.each do |related_item|
      %li
        %a{:href => url_for(related_item)}
          = related_item.title

    - if  related_topics.count > 5
      - overflow = related_topics.count - 5
      %li.more
        %a.small{:href => not_implemented_path}=  "#{overflow} more like this &gt;&gt;".html_safe

