- related_web_links = related_items.select {|related_item| related_item.is_a? WebLink }
- last_five_related_web_links = related_web_links.last(5).reverse

- view_class= "related-items-section"
- view_class= "no-items" if related_web_links.empty?
#detail-linked-web_links{:class => view_class}
  %h4
    %a.small{:href => not_implemented_path}
      = "Web links (#{related_web_links.count})"
      %img.expand_collapse_image{:alt => "Related_items_collapsed", :src => "/assets/related_items_collapsed.gif?1323654851"}/
  %hr/

  %ul
    - last_five_related_web_links.each do |related_item|
      %li
        %a{:href => url_for(related_item)}
          = related_item.title

    - if  related_web_links.count > 5
      - overflow = related_web_links.count - 5
      %li.more
        %a.small{:href => not_implemented_path}=  "#{overflow} more like this &gt;&gt;".html_safe