<% if ENABLE_USER_PORTRAITS -%>
<% selected_portrait = avatar_for(@still_image.creator, :return_portrait => true)
   @viewer_is_user = @still_image.created_by?(current_user) -%>
<% if @viewer_is_user || (@still_image_is_portrait && !@viewer_portraits.blank? && !selected_portrait.blank?) -%>
<%= render(:partial => "topics/secondary_wrapper_start",
           :locals => { :div_id => "portrait-controls-box", :class_suffix => nil }) -%>
  <% if @viewer_is_user -%>
  <h2><%=t 'images.portrait_controls.title' %></h2>
  <p>
    <ul>
      <% if @still_image_is_portrait -%>
        <% unless @still_image.user_portrait_relation.first? -%>
          <li><%= link_to t('images.portrait_controls.make_selected'), :controller => 'account',
                                                          :action => 'make_selected_portrait',
                                                          :id => @still_image.id -%></li>
        <% end -%>
        <li><%= link_to t('images.portrait_controls.remove_image'), :controller => 'account',
                                                       :action => 'remove_portrait',
                                                       :id => @still_image.id -%></li>
      <% else %>
        <li><%= link_to t('images.portrait_controls.add_image'), :controller => 'account',
                                                  :action => 'add_portrait',
                                                  :id => @still_image.id -%>
      <% end -%>
    </ul>
  </p>
  <% end -%>
  <% if @still_image_is_portrait && !@viewer_portraits.blank? -%>
  <div style="clear:both;"></div>
  <h4><%=t 'images.portrait_controls.other_portraits' %></h4>
  <div id="portrait_images_static">
    <%= render :partial => 'account/portraits', :locals => { :viewer_portraits => @viewer_portraits, :viewer_is_user => @viewer_is_user } -%>
  </div>
  <% end -%>
  <div style="clear:both;"></div>
  <div id="portrait_help"><%= link_to t('images.portrait_controls.whats_this'), :controller => 'account', :action => 'show', :whats_this => true -%></div>
<%= render(:partial => "topics/secondary_wrapper_end") -%>
<% end -%>
<% end -%>
