%ul.user-nav.nav-list
  = ("<li class='locale_selection first'>" + render('account/locale_selection', :classes => ['menu_center']) + "</li>") if SystemSetting.language_choices_position == 'top_menu_center'
  - account_hash = { :controller => 'account' }

  - if !logged_in?
    %li= link_to_login(t('layouts.application.login'), account_hash.merge({ urlified_name: 'site', action: 'login' }), { :tabindex => '2' })

  - else
    %li#user_baskets_list.first
      .span{style: "text-align: right;"}
        = link_to_unless_current "#{current_user.user_name}", account_hash.merge({ :action => 'show', :urlified_name => @site_basket.urlified_name, }), :tabindex => '2'
        = link_to "<em>V</em>".html_safe, "javascript:void(0)", { onclick: "$('#users_baskets_list').toggle();"}

      %ul#users_baskets_list{style: "position: static!important; display: none;"}

        = users_baskets_list
        %li
          = link_to t('layouts.application.all_baskets'),
                    { urlified_name: @site_basket.urlified_name,
                      controller: 'baskets',
                      action: 'list' }

    = add_ons_logged_in_user_list if respond_to?(:add_ons_logged_in_user_list)
    %li= link_to_unless_current t('layouts.application.logout'), account_hash.merge({ urlified_name: 'site', action: 'logout' }), :tabindex => '2'
  = ("<li class='locale_selection'>" + render('account/locale_selection', :classes => ['menu_right']) + "</li>") if SystemSetting.language_choices_position == 'top_menu_farthest_right'

