!!!
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}

  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Contrail+One'

  - rss_tag_links = @rss_tag_link.blank? ? Array.new : [@rss_tag_link]
  - rss_tag_autos = @rss_tag_auto.blank? ? Array.new : [@rss_tag_auto]
  = render partial: "layouts/head", locals: { rss_tag_links: rss_tag_links, rss_tag_autos: rss_tag_autos }

  %body{:id => @current_basket.urlified_name}
    #body-outer-wrapper
      #body-inner-wrapper
        #header-wrapper
          #header
            %h1
              = link_to SystemSetting.pretty_site_name, basket_index_url({ :urlified_name => @site_basket.urlified_name }), tabindex: '2'
              = header_link_to_current_basket.html_safe unless header_link_to_current_basket.nil?
            = render 'account/locale_selection', :classes => ['header'] if SystemSetting.language_choices_position == 'header'
            #head-search-wrapper
              = form_tag ({ :urlified_name => @site_basket.urlified_name, :controller => 'search', :action => 'for' }) do             |
                .search_fields
                  #advanced_search_dropdown_trigger
                    %noscript= image_tag 'magnifier.png', :width => 16, :height => 16
                  = text_field_tag 'search_terms', nil, { :accesskey => '3', :tabindex => '2' }
                  = submit_tag t('layouts.application.search_button'), { :class => 'submit', :tabindex => '2' }

                  = render partial: 'search/mini_controls', locals: {id: 'advanced_search_dropdown', scope: SearchPresenter.new, type: 'menu' }

            = header_links_to_baskets.html_safe

        #top-menu
          = render "layouts/user_nav"
          = render "layouts/main_nav"

          %a{name: "content"} &nbsp;

        - if flash[:notice]
          #notice
            = flash[:notice]

        - if flash[:error]
          #error
            = flash[:error]

        .clear(style="height:1px;")
          %a(name="content") &nbsp;

        #container
          = render partial: "topics/slideshow_controls" if show_slideshow_controls?
          = render partial: "topics/content_wrapper_start", locals: { style_classes: "full-width notabs" } if render_full_width_content_wrapper?
          = render partial: "licenses/install" if params[:controller] == 'licenses' && %w{ index list }.include?(params[:action])
          = yield

          -# Disable RSS for the moment
          -# #linkToRSS.footer_div
          -#   %ul
          -#     - rss_tag_links.each do |rss_tag_link|
          -#       %li= link_for_rss(:link_html => rss_tag_link, :preface => t('layouts.application.rss'), :title => stripped_title).html_safe
          -#
          -#     - combined_rss_url = nil # EOIN: this needs to be re-enabled when search is more understood:
          -#     %li= link_to(t('layouts.application.combined_rss'), combined_rss_url, :tabindex => '1')

        #footer.footer_div
          - if logged_in? && @basket_admin && !@displaying_error
            #basket-toolbox
              %h4= t 'layouts.application.basket_label', :basket => h(@current_basket.name)
              %p
                = link_to_unless_current t('layouts.application.members'), { :controller => 'members', :action => 'list', urlified_name: @current_basket.urlified_name }, :tabindex => '2'
                = add_ons_basket_admin_list if respond_to?(:add_ons_basket_admin_list)
          - else
            - if @tech_admin
              |
              = link_to_unless_current t('layouts.application.import'), { :controller => 'importers', :action => 'list' }, :tabindex => '2'
            -# --- This isn't shown on the screens, and I don't see why a logged out user
            -# --- should have a link to remove baskets.
            -#- if @current_basket != @site_basket
            -#  |
            -#  = link_to_unless_current t('layouts.application.delete'), { :controller => 'baskets', :action => 'destroy', :id => @current_basket, }, :confirm => t('layouts.application.delete_confirmation'), :method => 'post', :tabindex => '2'

          - if logged_in? && @site_admin && !@displaying_error
            #adminToolbox

              %h4= t 'layouts.application.toolbox_label'
              %p
                = t 'layouts.application.toolbox_controls'
                = link_to_unless_current t('layouts.application.basket_profiles'), { :urlified_name => @site_basket.urlified_name, :controller => 'profiles', :action => 'list' }, :tabindex => '2'
                |
                = link_to_unless_current t('layouts.application.topic_types'), { :urlified_name => @site_basket.urlified_name, :controller => 'topic_types', :action => 'list' }, :tabindex => '2'
                |
                = link_to_unless_current t('layouts.application.content_types'), { :urlified_name => @site_basket.urlified_name, :controller => 'content_types', :action => 'list' }, :tabindex => '2'
                |
                = link_to_unless_current t('layouts.application.extended_fields'), { :urlified_name => @site_basket.urlified_name, :controller => 'extended_fields', :action => 'list' }, :tabindex => '2'
                |
                = link_to_unless_current t('layouts.application.choices'), { :urlified_name => @site_basket.urlified_name, :controller => 'choices', :action => 'list'}, :tabindex => '2'
                |
                = link_to_unless_current t('layouts.application.search_sources'), { :urlified_name => @site_basket.urlified_name, :controller => 'search_sources', :action => 'list'}, :tabindex => '2'
                |
                = link_to_unless_current t('layouts.application.site_members'), { :urlified_name => @site_basket.urlified_name, :controller => 'members', :action => 'list' }, :tabindex => '2'
                |
                = link_to_unless_current t('layouts.application.licenses'), { :urlified_name => @site_basket.urlified_name, :controller => 'licenses', :action => 'index' }, :tabindex => '2'
                |
                = link_to_unless_current t('layouts.application.add_link'), { :urlified_name => @site_basket.urlified_name, :controller => 'configure', :action => 'add_link_to_kete_net' }, :tabindex => '2'
                = add_ons_site_admin_list if respond_to?(:add_ons_site_admin_list)

                - if @tech_admin
                  |
                  \#{link_to_unless_current t('layouts.application.configure'), { :urlified_name => @site_basket.urlified_name, :controller => 'configure', :action => 'index' }, :tabindex => '2'}
                  |
                  = link_to_unless_current t('layouts.application.oai_pmh'), { :urlified_name => @site_basket.urlified_name, :controller => 'oai_pmh_repository_sets', :action => 'index' }, :tabindex => '2'
                  |
                  = link_to_unless_current t('layouts.application.zoom_dbs'), { :urlified_name => @site_basket.urlified_name, :controller => 'zoom_dbs', :action => 'list' }, :tabindex => '2'
                  |
                  = link_to_unless_current t('layouts.application.rebuild'), { :urlified_name => @site_basket.urlified_name, :controller => 'search', :action => 'setup_rebuild' }, :tabindex => '2'

              %p
                = t 'layouts.application.support'
                = link_to_unless_current t('layouts.application.documentation'), basket_index_url(:urlified_name => @documentation_basket.urlified_name), :tabindex => '2'

        #footer_custom.footer_div
        - unless @current_basket.additional_footer_content_with_inheritance.nil? || @current_basket.additional_footer_content_with_inheritance.squish.blank?
          = @current_basket.additional_footer_content_with_inheritance

        #footer_links.footer_div
          - unless @current_basket.replace_existing_footer_with_inheritance?
            %ul
              - unless SystemSetting.government_website.blank?
                %li= link_to SystemSetting.government_website.first, SystemSetting.government_website.last
              - accessibility_topic = @help_basket.topics.find_by_title('Accessibility')
              = content_tag('li',
                            link_to(t('layouts.application.accessibility'),
                                    basket_path({ :urlified_name => @help_basket.urlified_name, :controller => 'topics', :action => 'show', :id => accessibility_topic }),
                                    { :accesskey => '0', :tabindex => '2' })) if accessibility_topic
              %li.last
                = link_to t('layouts.application.sitemap'), basket_path({ :urlified_name => @site_basket.urlified_name, :controller => 'baskets', :action => 'list', :id => '' })

          = render 'index_page/credits'
          = render 'account/locale_selection', :classes => ['footer'] if SystemSetting.language_choices_position == 'footer'
