!!! Strict
%html{lang: "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= h(@title)
      = stylesheet_link_tag 'base'
      = stylesheet_link_tag 'comment'
      = stylesheet_link_tag 'redbox'
      = stylesheet_link_tag 'kete-print', media: 'print'
      - if !@rss_tag_auto.nil?
        = @rss_tag_auto
      /[if IE] 
        = stylesheet_link_tag 'kete-ie'

      %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
      = javascript_tag('jQuery.noConflict();')
      = javascript_include_tag :defaults
      = javascript_include_tag 'redbox'
      - if SystemSetting.enable_maps? && initialize_gmap_headers?
        = yield :gmap4rails_head
        - if params[:action] == 'choose_type'
          = load_maps_javascript_files
        - else
          = yield :gmap4rails_scripts
          = javascript_tag("window.onload = Gmaps.loadMaps;")
        = javascript_tag("keteMaps = new Object();")
  %body
    #body-outer-wrapper
      #body-inner-wrapper
        #wrapper.simple{:style => "margin-top: 1em"}
          .cleaner &nbsp;
          - if flash[:notice]
            #notice
              %div= flash[:notice]
          #container
            = @content_for_layout
          .cleaner &nbsp;
