  <% if members.blank? -%>
    <tr>
      <td colspan="6"><%=t 'members.list_members_in.current_no_users_of_type', :listing_type => @listing_type.humanize.pluralize %></td>
    </tr>
  <% else %>
    <% for user in members -%>
    <tr>
      <td class="member_avatar"><%= avatar_for user -%></td>
      <td class="member_username">
        <%= link_to_contributions_of(user,'Topic') -%>
        <%= "<br />(#{user.login})" if @site_admin && user.user_name != user.login -%>
      </td>
      <td class="member_joined">
        <%= @role_creations[user.id].to_s(:long) -%>
      </td>
      <% if @site_admin -%>
      <td><%= mail_to h(user.email) -%></td>
      <% else -%>
      <td></td>
      <% end -%>
      <% if @basket_admin -%>
      <%# adjust possible roles for the user when in site admin or
        # tech admin view, ineffecient, but probably not a big deal, also
        # probably too much logic in view!-%>
      <% users_possible_roles = possible_roles
         unless @listing_type == 'admin'
           if ['site_admin', 'tech_admin'].include?(@listing_type) && @current_basket == @site_basket
             users_possible_roles.delete('tech_admin') if user.has_role?('tech_admin')
             users_possible_roles.delete('site_admin') if user.has_role?('site_admin')
           end
         else
           # we don't want to allow admins to change roles if they are the only one
           users_possible_roles = Hash.new if @current_basket != @site_basket && !@current_basket.more_than_one_basket_admin?
         end
         -%>
      <%= render :partial =>'possible_roles',
                 :locals => { :user => user,
                              :role_key => @listing_type,
                              :possible_roles => users_possible_roles } -%>
      <%= render :partial =>'admin_actions',
                 :locals => { :user => user,
                              :role_key => @listing_type,
                              :admin_actions => admin_actions } -%>
      <% else -%>
        <td></td>
        <td></td>
      <% end -%>
    </tr>
    <% end -%>
  <% end -%>
  <tr>
    <td colspan="6">
      <div id="prev-next"><%= will_paginate members -%></div>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <% if @current_basket.urlified_name != @site_basket.urlified_name && @basket_admin -%>
        <% form_tag :action => 'potential_new_members' do -%>
          <div id="searchheader">
            <h4><%=t 'members.list_members_in.search_for_members' %></h4>
            <%= text_field_tag 'search_name', '', :class => 'searchheader-search', :size => '30' -%>
            <%= submit_tag t('members.list_members_in.search_button'), :class => 'searchbutton' -%>
          </div>
        <% end -%>
      <% end -%>
    </td>
  </tr>
