<%= render(:partial => "baskets/actions_menu",
           :locals => { :item => @current_basket }) %>

<%= render :partial => "topics/content_wrapper_start" %>

<h2>Moderate</h2>

<% if @items.blank? %>
<p>Currently no items needing moderation.</p>
<% else %>

<table class="history-table">
  <tr><th>Revision</th><th>privacy</th><th>flagged with</th><th>flagged at</th></tr>
  <% for item in @items %>
  <tr>
    <td>
      <%= link_to_preview_of(item, item, false) %>
      <%= h(item.title) %>
    </td>
    <td>
      <%= item.respond_to?(:private?) && item.private? ? "private" : "public" %>
    </td>
    <td>
      <%= h(item.flag) %>
    </td>
    <td>
      <%= item.flagged_at %>
    </td>
    <td>
      <%= link_to( "item's full history", history_url(item)) %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<div id="prev-next"><%#  will_paginate @items %></div>

<%= render(:partial => "topics/content_wrapper_end" ) %>
