<% @title = t('moderate.list.title') -%>

<%= render(:partial => "baskets/actions_menu",
           :locals => { :item => @current_basket }) %>

<%= render :partial => "topics/content_wrapper_start" %>

<p>
  <h2 style="display:inline;"><%= h(@title) %></h2>
  [
    <% if params[:type].blank? -%>
    to review
    <% else -%>
    <%= link_to_unless_current 'to review', params.merge(:type => 'to_review') -%>
    <% end -%> |
    <%= link_to_unless_current 'reviewed', params.merge(:type => 'reviewed') %> |
    <%= link_to_unless_current 'rejected', params.merge(:type => 'rejected') %>
  ]
</p>

<% if @items.blank? %>
<p><%=t 'moderate.list.no_items_needing_moderation' %></p>
<% else %>

<table class="history-table">
  <tr>
    <th></th>
    <th abbr="Title"><%=t 'moderate.list.item_title' %></th>
    <th abbr="Flagged With"><%=t 'moderate.list.flagged_with' %></th>
    <th abbr="Privacy"><%=t 'moderate.list.privacy' %></th>
    <th abbr="Flagged At"><%=t 'moderate.list.flagged_at' %></th>
  </tr>
  <% for item in @items %>
  <tr>
    <td>
      [ <%= link_to_preview_of(item, item, false) %> ]
    </td>
    <td>
      <%= h(item.title) %>
    </td>
    <td>
      <%= h(item.disputed_flags.join(', ')) %>
    </td>
    <td>
      <%= item.respond_to?(:private?) && item.private? ? t('moderate.list.private') : t('moderate.list.public') %>
    </td>
    <td>
      <%= item.flagged_at.to_s(:short) %>
    </td>
    <td>
      <%= link_to( t('moderate.list.full_history'), history_url(item)) %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<div id="prev-next"><%#  will_paginate @items %></div>

<%= render(:partial => "topics/content_wrapper_end" ) %>
